Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.26
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

feat: update ECL for VTM device binding in NMPC configuration
  CHANGELOG.md
  api/src/main/resources/NMPC/base-device-ui-schema.json
Due: none

Update changelog for release 1.3.27
  CHANGELOG.md
Due: none

allow the use of multiple projects in lingo for authoring (#1671)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/FieldBindingConfiguration.java
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/IhtsdoConfiguration.java
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/UserInterfaceConfiguration.java
  api/src/main/java/au/gov/digitalhealth/lingo/controllers/ConfigController.java
  api/src/main/java/au/gov/digitalhealth/lingo/controllers/MedicationController.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/AllTasksService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/TaskManagerClient.java
  api/src/main/resources/application.properties
  api/src/main/resources/default-model-config.yaml
  ui/src/api/TasksService.ts
  ui/src/components/ConceptSearchSidebar.tsx
  ui/src/components/conceptdiagrams/ConceptDiagram.tsx
  ui/src/components/conceptdiagrams/ConceptDiagramModal.tsx
  ui/src/components/editProduct/DescriptionModal.tsx
  ui/src/components/editProduct/ProductEditModal.tsx
  ui/src/components/editProduct/ProductEditView.tsx
  ui/src/hooks/api/products/useSearchConcept.tsx
  ui/src/hooks/api/task/useAllTasks.tsx
  ui/src/hooks/api/useInitializeApp.tsx
  ui/src/hooks/api/useInitializeConcepts.tsx
  ui/src/hooks/api/useInitializeConfig.tsx
  ui/src/hooks/api/useInitializeProjects.tsx
  ui/src/hooks/useProjectFromUrlPath.tsx
  ui/src/layouts/MainLayout/Header/HeaderContent/index.tsx
  ui/src/layouts/MainLayout/index.tsx
  ui/src/pages/products/ProductModelView.tsx
  ui/src/pages/products/components/NewConceptDropdown.tsx
  ui/src/pages/products/components/SearchProduct.tsx
  ui/src/pages/tasks/components/TasksCreateModal.tsx
  ui/src/pages/tasks/components/TasksDisplay.tsx
  ui/src/pages/tasks/components/TasksList.tsx
  ui/src/pages/tickets/components/TicketsActionBar.tsx
  ui/src/router/TasksRoutes.tsx
  ui/src/router/index.tsx
  ui/src/stores/AuthoringStore.ts
  ui/src/types/applicationConfig.ts
  ui/src/utils/helpers/FieldBindingUtils.ts
Due: ui-eslint, api-maven-format

fix: resolve cascading property removal issues and update CHANGELOG
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
Due: api-maven-format

formatting fix
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
Due: api-maven-format

Update changelog for release 1.3.28
  CHANGELOG.md
Due: none

chore: update logging configuration, revise test assertions, and upgrade container images
  api/src/test/java/au/gov/digitalhealth/lingo/AmtV4SnowstormExtension.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/DeviceCreationControllerTest.java
  api/src/test/resources/application-test.properties
Due: api-maven-format

feat: add constraints for missing pack size attributes in AMT models for #1675
  api/src/main/java/au/gov/digitalhealth/lingo/util/EclBuilder.java
Due: api-maven-format

fix: update CHANGELOG with details of defect #1675 resolution
  CHANGELOG.md
Due: none

fix formatting
  api/src/main/java/au/gov/digitalhealth/lingo/util/EclBuilder.java
Due: api-maven-format

Add support for decimal values in multi pack screen (#1684)
  CHANGELOG.md
  api/src/main/resources/AMT/base-bulk-pack-schema.json
  api/src/main/resources/NMPC/base-bulk-pack-schema.json
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
Due: ui-eslint

fix: update URI validation regex to support attachment URLs
  api/src/main/resources/default-model-config.yaml
Due: none

fix: update discontinuation letter to enable attachments from tickets
  CHANGELOG.md
Due: none

fixes task Id not being sorted on ticket screen, the list horizontal scroll bar on snodine, iteration is now greyed out if it is 'completed'
  ui/src/hooks/api/task/useAllTasks.tsx
  ui/src/pages/eclRefset/components/QueryRefsetList.tsx
  ui/src/pages/eclRefset/components/TickFlickMembersList.tsx
  ui/src/pages/tickets/components/grid/CustomIterationSelection.tsx
Due: ui-eslint

changelog
  CHANGELOG.md
Due: none

format and CHANGELOG.md (#1686)
  CHANGELOG.md
  api/src/main/resources/application.properties
Due: none

fix iteration selection so it has to also be completed
  ui/src/pages/tickets/components/grid/CustomIterationSelection.tsx
Due: ui-eslint

prettier
  ui/src/pages/eclRefset/components/QueryRefsetList.tsx
  ui/src/pages/eclRefset/components/TickFlickMembersList.tsx
Due: ui-eslint

fix: ensure inactive non-defining relationships are reactivated during updates
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

Update api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

fix formatting
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
Due: api-maven-format

refactor: replace TEST_CONCRETE_VALUE with SnowstormConcreteValue instance in tests
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
Due: api-maven-format

removed deb ugger statement
  ui/src/pages/tickets/components/grid/CustomIterationSelection.tsx
Due: ui-eslint

Update changelog for release 1.3.29
  CHANGELOG.md
Due: none

refactor: improve component props and streamline project resolution logic
  ui/src/components/editProduct/DescriptionModal.tsx
  ui/src/components/editProduct/ExistingDescriptionsSection.tsx
  ui/src/components/editProduct/ProductEditView.tsx
  ui/src/pages/tasks/components/TaskTicket.tsx
  ui/src/utils/getColor.ts
Due: ui-eslint

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
