Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

Add [Unreleased] section
  CHANGELOG.md
Due: none

fix snodine issues (#1902)
  CHANGELOG.md
  ui/src/hooks/eclRefset/useSnodineTaskByKey.tsx
Due: ui-eslint

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.50
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Fix Brand Name / Branded Product Name prefill race on NMPC medication… (#1905)
  CHANGELOG.md
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
Due: ui-eslint

Update changelog for release 1.3.51
  CHANGELOG.md
Due: none

Fix/drug device combination product attribute (#1901)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationDrugDeviceCombinationTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnomedConstants.java
Due: api-maven-format

Fix nutritional VMP/AMP defaulting to Fully Defined instead of Primitive (#1910)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationServiceNutritionalNameTest.java
Due: api-maven-format

Update changelog for release 1.3.52
  CHANGELOG.md
Due: none

Fix code review comments (#1915)
  CHANGELOG.md
  api/src/test/java/au/gov/digitalhealth/lingo/product/ProductSummaryNodeDeduplicationTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
Due: api-maven-format

Update changelog for release 1.3.53
  CHANGELOG.md
Due: none

fix(deps): clear HIGH Trivy dependency-scan findings (#1922)
  CHANGELOG.md
  api/pom.xml
  pom.xml
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Due: none

Fix nutritional VMPP name generator leaking raw SCTID for existing clinical drug (#1923)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationServiceNutritionalNameTest.java
Due: api-maven-format

fix(api): run Spring caches on a single Caffeine CacheManager (#1920)
  CHANGELOG.md
  api/pom.xml
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/CacheManagerConfig.java
  api/src/main/resources/application.properties
  api/src/main/resources/ehcache.xml
Due: api-maven-format

Prepend "Product containing only" to newly authored nutritional VMP n… (#1924)
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationServiceNutritionalNameTest.java
Due: api-maven-format

Fix incorrect test assertion on VMPP OWL-axiom prefix leak
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationServiceNutritionalNameTest.java
Due: api-maven-format

Release 1.3.54
  CHANGELOG.md
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Release 1.3.55
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Fix incorrect test assertion on VMPP OWL-axiom prefix leak (#1926)
  CHANGELOG.md
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationServiceNutritionalNameTest.java
Due: api-maven-format

fix(deps): clear newly-published HIGH Trivy dependency-scan findings (#1929)
  CHANGELOG.md
  pom.xml
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Due: none

fix(medications): count multi-modification substance as its own base (CUST1730375) (#1928)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationBaseActiveIngredientCountTest.java
  ui/src/api/ProblemDetail.test.ts
  ui/src/api/ProblemDetail.ts
  ui/src/api/api.ts
Due: ui-eslint, api-maven-format

Fix NMPC device authoring forcing the VTM to Biomedical device (CUST1679268) (#1927)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceService.java
  api/src/main/resources/NMPC/base-device-ui-schema.json
  api/src/test/java/au/gov/digitalhealth/lingo/service/DeviceVtmRouteConsistencyTest.java
Due: api-maven-format

chore(api): remove dead h2 profile, migrations, and DDL script (#1912) (#1913)
  CHANGELOG.md
  CLAUDE.md
  api/README.md
  api/latest_ddl.sh
  api/pom.xml
  api/src/main/java/au/gov/digitalhealth/lingo/security/SecurityConfiguration.java
  api/src/main/resources/application-h2.properties
  api/src/main/resources/application.properties
  api/src/main/resources/db/migration/h2/V1_10__TGAEntryHash.sql
  api/src/main/resources/db/migration/h2/V1_11__UiSearchConfiguration.sql
  api/src/main/resources/db/migration/h2/V1_12__LabelArtgidCancelled.sql
  api/src/main/resources/db/migration/h2/V1_13__JsonField.sql
  api/src/main/resources/db/migration/h2/V1_14__Priorities.sql
  api/src/main/resources/db/migration/h2/V1_15__TicketAssociation.sql
  api/src/main/resources/db/migration/h2/V1_16__LabelDuplicate.sql
  api/src/main/resources/db/migration/h2/V1_18_BulkProductDetails.sql
  api/src/main/resources/db/migration/h2/V1_19__ModifiedGeneratedName.sql
  api/src/main/resources/db/migration/h2/V1_1__initial.sql
  api/src/main/resources/db/migration/h2/V1_20__TGAEntryHashUpdate.sql
  api/src/main/resources/db/migration/h2/V1_21__TGAEntryHashDelete.sql
  api/src/main/resources/db/migration/h2/V1_22__JobResult.sql
  api/src/main/resources/db/migration/h2/V1_23__TicketNumber.sql
  api/src/main/resources/db/migration/h2/V1_24__Metadatas.sql
  api/src/main/resources/db/migration/h2/V1_25__TicketAssociationAud.sql
  api/src/main/resources/db/migration/h2/V1_26__ExternalProcess.sql
  api/src/main/resources/db/migration/h2/V1_27__ProductEdit.sql
  api/src/main/resources/db/migration/h2/V1_29__ProductAction.sql
  api/src/main/resources/db/migration/h2/V1_2__TaskAssociation.sql
  api/src/main/resources/db/migration/h2/V1_31__RevInfo.sql
  api/src/main/resources/db/migration/h2/V1_35__AdditionalFieldTypeSharedValue.sql
  api/src/main/resources/db/migration/h2/V1_3__productdetails.sql
  api/src/main/resources/db/migration/h2/V1_4__TicketAddJiraCreated.sql
  api/src/main/resources/db/migration/h2/V1_5__AttachmentLength.sql
  api/src/main/resources/db/migration/h2/V1_6__TicketFilters.sql
  api/src/main/resources/db/migration/h2/V1_7__ColorChange.sql
  api/src/main/resources/db/migration/h2/V1_9__Schedule.sql
  api/src/test/resources/application-test.properties
Due: api-maven-format

chore: automate and enforce third-party licence notices (#1896)
  CHANGELOG.md
  LICENSE
  NOTICE
  THIRD_PARTY_NOTICES.md
  api/pom.xml
  api/src/test/java/au/gov/digitalhealth/lingo/MedicationAssertions.java
  api/src/test/java/au/gov/digitalhealth/lingo/util/SnomedIdentifierUtilTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/PriorityBucketControllerTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/StateControllerTests.java
  azure-pipelines.yml
  common/pom.xml
  common/src/test/java/au/gov/digitalhealth/lingo/product/NewNodeDependencyComparatorTest.java
  pom.xml
  src/license/THIRD-PARTY.properties
  src/license/license-file.ftl
  src/license/notice.ftl
  src/license/third-party-notices.ftl
  ui/.prettierignore
  ui/dependency-licenses
  ui/format-third-party-notices-npm.cjs
  ui/package.json
  ui/pnpm-lock.yaml
  ui/record-npm-dependency-licenses.cjs
  ui/third-party-notices-npm.md
Due: api-maven-format

fix(tickets,products): priority-bucket delete 500 and undefined product-id fetch (#1893)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/PriorityBucketController.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/PriorityBucketControllerTest.java
  ui/src/pages/products/rjsf/components/SearchAndAddProduct.tsx
Due: ui-eslint, api-maven-format

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
