Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

added clarification in colour legend that primitive and fully defined concepts are existing.
  ui/src/pages/products/components/ColorLegend.tsx
Due: ui-eslint

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.11
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

some minor changes to computed height
  ui/src/pages/tickets/MyBacklog.tsx
  ui/src/pages/tickets/TicketsBacklog.tsx
Due: ui-eslint

fix missing CHANGELOG.md entries
  CHANGELOG.md
Due: none

can now open the review messages in a new tab (#1612)
  ui/src/pages/products/components/reviews/ConceptReviews.tsx
Due: ui-eslint

add missing CHANGELOG.md entry
  CHANGELOG.md
Due: none

Update changelog for release 1.3.12
  CHANGELOG.md
Due: none

Change retry for WebClientRequestException (#1613)
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
Due: api-maven-format

Update changelog for release 1.3.13
  CHANGELOG.md
Due: none

Fix my backlog quick search (#1614)
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/TicketController.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
  common/src/main/java/au/gov/digitalhealth/tickets/TicketDtoOptionals.java
  common/src/main/java/au/gov/digitalhealth/tickets/TicketMinimalDtoOptionals.java
  ui/src/pages/tickets/MyBacklog.tsx
Due: ui-eslint, api-maven-format

Update changelog for release 1.3.14
  CHANGELOG.md
Due: none

Update changelog for release 1.3.15
  CHANGELOG.md
Due: none

Update changelog for release 1.3.16
  CHANGELOG.md
Due: none

Update changelog for release 1.3.17
  CHANGELOG.md
Due: none

Prevent user actions when task is promoted (#1615)
  ui/src/hooks/useCanEditTask.tsx
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/products/rjsf/components/DarftSubmitPanel.tsx
Due: ui-eslint

Change log and license display (#1616)
  .github/workflows/changelog-check.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/db/migration/BaseBulkProductMigration.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/ProductAuditService.java
  common/src/main/java/au/gov/digitalhealth/tickets/controllers/ProductAuditDto.java
  ui/.prettierignore
  ui/dependency-licenses
  ui/package.json
  ui/src/layouts/MainLayout/Header/HeaderContent/AboutBox/index.tsx
  ui/src/pages/products/rjsf/helpers/comparator.ts
  ui/src/pages/settings/ChangelogModal.tsx
  ui/src/pages/settings/LicensesModal.tsx
Due: ui-eslint, api-maven-format

Status indicator colour legend (#1617)
  api/pom.xml
  ui/src/layouts/MainLayout/Header/HeaderContent/ServiceStatus.tsx
Due: ui-eslint

notification when the change log has changed (#1620)
  CHANGELOG.md
  api/pom.xml
  ui/src/layouts/MainLayout/Header/HeaderContent/AboutBox/index.tsx
  ui/src/pages/settings/ChangelogModal.tsx
Due: ui-eslint

reset bulk filters, refresh backlog search (#1619)
  CHANGELOG.md
  ui/src/pages/tickets/TicketsBacklog.tsx
  ui/src/pages/tickets/components/TicketsBulkEdit.tsx
Due: ui-eslint
