Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

Fix build issue (#1781)
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
Due: api-maven-format

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.39
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Fix content type issue with the attachment and add more logging
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/AttachmentController.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/AttachmentUrlDto.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/AttachmentService.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/AttachmentControllerTest.java
Due: api-maven-format

Fix content type issue with the attachment and add more logging
  CHANGELOG.md
Due: none

Configure time out for attachment file downloading
  api/src/main/java/au/gov/digitalhealth/tickets/service/AttachmentService.java
  api/src/test/java/au/gov/digitalhealth/tickets/service/AttachmentServiceTest.java
Due: api-maven-format

Configure time out for attachment file downloading
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/AttachmentControllerTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/service/AttachmentServiceTest.java
Due: api-maven-format

Fix race condition for same files
  api/src/main/java/au/gov/digitalhealth/tickets/service/AttachmentService.java
Due: api-maven-format

Fix Sonar issues in AttachmentService
  api/src/main/java/au/gov/digitalhealth/tickets/service/AttachmentService.java
Due: api-maven-format

Fix attachment file deletion to handle missing files gracefully
  api/src/main/java/au/gov/digitalhealth/tickets/service/AttachmentService.java
Due: api-maven-format

Update changelog for release 1.3.40
  CHANGELOG.md
Due: none

Update changelog for release 1.3.41
  CHANGELOG.md
Due: none

fix: detect external concepts as replace-without-retire on update
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/NodeGeneratorService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/Node.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/OriginalNode.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NodeReplaceWithoutRetireTest.java
  ui/src/pages/products/components/ProductRetireUpdate.tsx
  ui/src/types/concept.ts
  ui/src/utils/helpers/conceptUtils.ts
Due: ui-eslint, api-maven-format

fix: allow removing target population and qualitative strength on update
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/util/EclBuilder.java
  api/src/test/java/au/gov/digitalhealth/lingo/util/EclBuilderNegativeFilterTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributesTest.java
Due: api-maven-format

review: tighten ECL emission, predicate exclusivity and OriginalNode API
  api/src/main/java/au/gov/digitalhealth/lingo/service/NodeGeneratorService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
  api/src/main/java/au/gov/digitalhealth/lingo/util/EclBuilder.java
  api/src/test/java/au/gov/digitalhealth/lingo/util/EclBuilderNegativeFilterTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/Node.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/OriginalNode.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NodeReplaceWithoutRetireTest.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributesTest.java
  ui/src/pages/products/components/ProductRetireUpdate.tsx
  ui/src/utils/helpers/isExternalOriginalConcept.test.ts
Due: ui-eslint, api-maven-format

review (round 2): close OriginalNode bypasses, hard-fail on missing moduleId
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/util/EclBuilder.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/util/EclBuilderNegativeFilterTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/OriginalNode.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NodeReplaceWithoutRetireTest.java
Due: api-maven-format

expand NMPC clinical-drug catalogue per modelling documents
  api/src/test/java/au/gov/digitalhealth/lingo/util/EclBuilderNegativeFilterTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributesTest.java
Due: api-maven-format

review (round 3): Jackson lockdown + service-layer test + Javadoc tidies
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/Node.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/OriginalNode.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
Due: api-maven-format

review (round 4): normalise summary clone, NotNull on node, Jackson test
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/OriginalNode.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NodeReplaceWithoutRetireTest.java
Due: api-maven-format

fix: restore fork-case new-concept classification broken by round-3 review
  .gitignore
  api/src/main/java/au/gov/digitalhealth/lingo/product/ProductSummary.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/Node.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NodeReplaceWithoutRetireTest.java
Due: api-maven-format

refactor: drop redundant RWR inactivationReason guard; remove null-authoringModuleId escape hatch
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/Node.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/OriginalNode.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NodeReplaceWithoutRetireTest.java
Due: api-maven-format

fix: delete unreleased concepts on retire-and-replace instead of PUT-inactivate
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

fix for sometimes undefined when copying a pt (#1794)
  ui/src/pages/products/components/NewConceptDropdown.tsx
Due: ui-eslint

added a null check to the task ticket deletion code, so Deleted tasks… (#1790)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/TaskAssociationCleanupService.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/TaskAssociationController.java
Due: api-maven-format

fix: include unitOfPresentation in MedicationProductDetails id-FSN/PT maps
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/MedicationProductDetails.java
Due: none

fix: drop the malformed sequential PUT for retire-and-replace-with-existing
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

Update changelog-check workflow to handle Dependabot
  .github/workflows/changelog-check.yml
Due: none

chore: add CHANGELOG entry for bundled Java dependency bumps
  CHANGELOG.md
Due: none

Prevent Edit Terms updates to FSN/US PT on SNOMED CT core concepts (#1783)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductUpdateServiceTest.java
  ui/src/components/editProduct/ProductEditModal.tsx
Due: ui-eslint, api-maven-format

Move to pnpm (#1785)
  .gitignore
  .trivyignore
  CHANGELOG.md
  azure-pipelines.yml
  pom.xml
  ui/.prettierignore
  ui/dependency-licenses
  ui/package.json
  ui/pnpm-workspace.yaml
  ui/pom.xml
Due: none

ci: fix dependabot changelog skip to use PR author, not github.actor (#1820)
  .github/workflows/changelog-check.yml
  CHANGELOG.md
Due: none

fix for executor pool being exhausted (#1716)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/AsyncConfig.java
  api/src/main/java/au/gov/digitalhealth/lingo/security/SecurityConfiguration.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/AllTasksService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/GenericRefreshCacheService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/JiraUserManagerService.java
  api/src/main/resources/application-h2.properties
  api/src/main/resources/application.properties
  api/src/test/java/au/gov/digitalhealth/lingo/service/GenericRefreshCacheServiceTest.java
  api/src/test/resources/application-test.properties
Due: api-maven-format
