Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

Add [Unreleased] section
  CHANGELOG.md
Due: none

Refresh TGA hash entry for existing ticket update for ARTG ID Hackathone
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationService.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
Due: api-maven-format

Revert "Refresh TGA hash entry for existing ticket update for ARTG ID Hackathone"
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationService.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
Due: api-maven-format

Make the business timezone configurable instead of hardcoding Australia/Brisbane (#1964)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/TimeZoneConfiguration.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/TicketController.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/AdditionalFieldUtils.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/AmtRequest.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/CsvUtils.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/InstantUtils.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/TicketPredicateBuilder.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/ExportService.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketChangeProcessingService.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
  api/src/main/resources/application.properties
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/TimeZoneConfigurationTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/TicketTestBase.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/TicketControllerContainerTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/helper/AdditionalFieldUtilsTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/helper/CsvUtilsTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/helper/TicketPredicateBuilderTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/service/ExportServiceTest.java
  docs/CONFIGURATION.md
  ui/src/MainBody.tsx
  ui/src/main.tsx
Due: ui-eslint, api-maven-format

Stop CachingConfig implementing CachingConfigurer so cache eviction and the IMS cookie cache work (#1973)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/CachingConfig.java
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/ProxiedAnnotationIntegrityTest.java
Due: api-maven-format

Bump the fast-uri override to clear four HIGH SSRF advisories (#1978)
  CHANGELOG.md
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Due: none

Persist the definition status the axiom actually carries
  CHANGELOG.md
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtilDefinitionStatusTest.java
Due: none

Fix definition status
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
Due: none

Revert "Persist the definition status the axiom actually carries"
  CHANGELOG.md
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtilDefinitionStatusTest.java
Due: none

Stop the tasks quick filter dropping the last typed characters (#1981)
  CHANGELOG.md
  ui/src/components/TableHeaders.tsx
  ui/src/pages/tasks/components/TasksList.tsx
Due: ui-eslint

Filter the backlog on whether a ticket has a due date at all (#1961) (#1987)
  CHANGELOG.md
  LICENSE
  THIRD_PARTY_NOTICES.md
  api/src/main/java/au/gov/digitalhealth/tickets/helper/SearchConditionUtils.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/TicketPredicateBuilder.java
  api/src/test/java/au/gov/digitalhealth/tickets/helper/TicketPredicateBuilderTest.java
  pom.xml
  scripts/seed/due-date-blank-filter-seed.sql
  scripts/seed/seed-local-db.sh
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/pages/tickets/components/grid/GenerateFilterConditions.ts
  ui/src/pages/tickets/components/grid/GenerateSearchConditions.tsx
  ui/src/pages/tickets/components/grid/TicketsBacklogView.tsx
  ui/src/pages/tickets/components/grid/blankDateFilter.test.ts
  ui/src/pages/tickets/components/grid/helpers/blankDateFilter.ts
  ui/src/types/tickets/table.ts
Due: ui-eslint, api-maven-format

Fix/multi component pack ingredient resolution (#1976)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/AtomicDataService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationMultiComponentPackIngredientTest.java
Due: api-maven-format

Persist the definition status the axiom actually carries (#1983)
  CHANGELOG.md
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtilDefinitionStatusTest.java
Due: none

Send a Content-Disposition Tomcat will not drop (#1991)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/AttachmentController.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/AttachmentControllerTest.java
  ui/src/pages/tickets/individual/components/MediaViewerModal.tsx
  ui/src/utils/helpers/fileUtils.test.ts
  ui/src/utils/helpers/fileUtils.ts
Due: ui-eslint, api-maven-format

Apply loaded product data from the query result, not from inside queryFn (#1989)
  CHANGELOG.md
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/products/rjsf/hooks/useTicketProductQuery.ts
  ui/src/pages/tickets/components/ProductAuditModal.tsx
Due: ui-eslint

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.4.8
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Accept complete composed ticket content from the submission gateway (#1986)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/SergioService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/SubmissionGatewayComposer.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/TicketMetadata.java
  api/src/main/java/au/gov/digitalhealth/tickets/models/Ticket.java
  api/src/main/java/au/gov/digitalhealth/tickets/models/WorkIdentityReservation.java
  api/src/main/java/au/gov/digitalhealth/tickets/repository/WorkIdentityReservationRepository.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
  api/src/main/resources/application.properties
  api/src/main/resources/db/migration/postgresql/V1_41__WorkIdentityReservation.sql
  api/src/test/java/au/gov/digitalhealth/tickets/helper/AdditionalFieldDateStorageTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/helper/TicketMetadataDeserialisationTest.java
Due: api-maven-format

Rename the Nutritional target model to Nutritional/Consumer Health
  CHANGELOG.md
  api/src/main/resources/NMPC/base-medication-ui-schema.json
Due: none

Rename Nutritional
  CHANGELOG.md
Due: none

Fix/locked branch not fatal (#2032)
  CHANGELOG.md
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/ClientErrorNoiseFilterTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/exception/BranchLockedProblem.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

Update changelog for release 1.4.9
  CHANGELOG.md
Due: none
