Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

Bugfix/auto task ticket association removal (#1832)
  CHANGELOG.md
Due: none

Fix/nutritional module (#1849)
  .gitignore
  CHANGELOG.md
  api/src/main/resources/NMPC/base-medication-schema.json
  ui/src/api/OntoserverService.ts
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
  ui/src/pages/products/rjsf/components/MultiValueEclAutocomplete.tsx
  ui/src/types/concept.ts
  ui/src/utils/helpers/getValueSetExpansionContainsPt.ts
Due: ui-eslint

fix: address SSRF, stored XSS and hardcoded credential security findings (#1848)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/AttachmentController.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/AttachmentUrlDto.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/AttachmentService.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/AttachmentControllerTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/service/AttachmentServiceTest.java
  ui/cypress/docker/docker-compose.yaml
  ui/src/pages/products/components/reviews/ConceptReviews.tsx
Due: ui-eslint, api-maven-format

you can now remove label & external requestors in the ticket bulk edit (#1846)
  CHANGELOG.md
  ui/src/hooks/eclRefset/useSnodineTaskByKey.tsx
  ui/src/pages/tickets/components/TicketsBulkEdit.tsx
Due: ui-eslint

Fix vaccine ATM retaining qualitative strength on removal (CUST1634236) (#1840)
  CHANGELOG.md
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributesTest.java
  ui/src/components/conceptdiagrams/ConceptDiagram.tsx
Due: ui-eslint

chore: remove unused sizeMb field from AttachmentUrlDto (#1851)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/helper/AttachmentUrlDto.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/AttachmentControllerTest.java
Due: api-maven-format

Fix the IE synonym term update prevention (#1854)
  CHANGELOG.md
  ui/src/components/editProduct/ProductEditModal.tsx
  ui/src/hooks/api/products/useProjectLangRefsets.tsx
  ui/src/utils/helpers/conceptUtils.ts
  ui/src/utils/helpers/descriptionEditability.test.ts
Due: ui-eslint

Fix dangling reference detection & tidy on Tidy & Promote for retired concepts (#1842) (#1847)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummary.java
  common/src/test/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummaryTest.java
  ui/src/hooks/api/task/useAllTasks.tsx
Due: ui-eslint, api-maven-format

make task association removal a config option (#1857)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/TaskStatusProperties.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/TaskAssociationCleanupService.java
  api/src/main/java/au/gov/digitalhealth/tickets/models/listeners/AttachmentEntityListener.java
  api/src/main/java/au/gov/digitalhealth/tickets/repository/RepositoryConfiguration.java
  api/src/main/resources/application.properties
Due: api-maven-format

Task ticket not showing always (#1859)
  CHANGELOG.md
  ui/src/hooks/api/tickets/useGetTicketsByAssociations.tsx
Due: ui-eslint

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.46
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Fix device screen ARTG ID field and dependant field loading (#1864) (#1865)
  CHANGELOG.md
  api/src/main/resources/AMT/base-device-schema.json
  api/src/main/resources/AMT/base-device-ui-schema.json
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
  ui/src/pages/products/rjsf/fields/AutoCompleteField.tsx
Due: ui-eslint

Add product_name name-generator hint for NMPC virtual Clinical Drugs (#1867)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationService.java
  api/src/main/resources/application.properties
  api/src/main/resources/default-model-config.yaml
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/ModelConfiguration.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/NameGeneratorSpec.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/NewConceptDetails.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/Ingredient.java
Due: api-maven-format

Update changelog for release 1.3.47
  CHANGELOG.md
Due: none

Improve the backlog filter flow (#1870)
  CHANGELOG.md
  ui/src/pages/tickets/TicketsBacklog.tsx
Due: ui-eslint

feat: split IMS UI URL from IMS API URL (gateway routing) (#1871)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/IhtsdoConfiguration.java
  api/src/main/java/au/gov/digitalhealth/lingo/controllers/ConfigController.java
  api/src/main/resources/application.properties
Due: api-maven-format

fix(name-generator): bound name-generator WebClients with a client-side timeout (#1875)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationRouter.java
  api/src/main/resources/application.properties
Due: api-maven-format

ci: speed up the build pipeline (~29m → ~11m warm) + reproducible UI build (#1874)
  .gitignore
  .trivyignore
  CHANGELOG.md
  api/pom.xml
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/DeviceCreationControllerTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationCreationControllerTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationNewBrandPackTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/QualifierControllerTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/TicketTestBase.java
  azure-pipelines.yml
  azure-pipelines_bakup.yml
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pom.xml
Due: api-maven-format

Parallelise lingo + ticket test suites and speed up CI (9:40 -> 5:09, stacked on #1876) (#1878)
  CHANGELOG.md
  api/pom.xml
  api/src/test/java/au/gov/digitalhealth/lingo/AmtV4SnowstormExtension.java
  api/src/test/java/au/gov/digitalhealth/lingo/BaseBranchUntouchedTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/LingoTestBase.java
  api/src/test/java/au/gov/digitalhealth/lingo/LingoTestClient.java
  api/src/test/java/au/gov/digitalhealth/lingo/LingoTestClientPathTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/SnowstormBranchManager.java
  api/src/test/java/au/gov/digitalhealth/lingo/SnowstormBranchManagerTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/DeviceControllerTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationControllerTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationCreationControllerTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/QualifierControllerTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/DbInitializer.java
  api/src/test/java/au/gov/digitalhealth/tickets/repository/TaskAssociationRepositoryTests.java
  azure-pipelines.yml
  ui/pom.xml
Due: api-maven-format

fix(ui): stop forwarding branchState prop to the DOM in RebaseIcon (#1887)
  CHANGELOG.md
  ui/src/components/icons/RebaseIcon.tsx
Due: ui-eslint

feat(nmpc): branded product name for AMP/VMP naming (medication, device, bulk-brand) (#1886)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/product/BrandWithIdentifiers.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/AtomicDataService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/TicketProductNameDerivationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/AmtDeviceValidator.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/AmtMedicationDetailsValidator.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/TicketController.java
  api/src/main/resources/NMPC/base-bulk-brand-schema.json
  api/src/main/resources/NMPC/base-device-schema.json
  api/src/main/resources/NMPC/base-device-ui-schema.json
  api/src/main/resources/NMPC/base-medication-schema.json
  api/src/main/resources/NMPC/base-medication-ui-schema.json
  api/src/main/resources/default-model-config.yaml
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/model/BrandedProductNameConfigTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/AtomicDataBrandedNameTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/BulkBrandBrandedNameTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DeviceBrandedProductNameTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationBrandedProductNameTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/TicketProductNameDerivationServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/validators/AmtBrandedProductNameRejectionTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/ModelConfiguration.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/NameGeneratorSpec.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/NewConceptDetails.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/ProductDetails.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NameGeneratorSpecTest.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/details/ProductDetailsBrandedNameTest.java
  ui/src/api/ProductService.ts
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
  ui/src/pages/products/rjsf/helpers/brandRenameHelper.test.ts
  ui/src/pages/products/rjsf/helpers/brandRenameHelper.ts
  ui/src/pages/products/rjsf/widgets/BrandedProductNameWidget.tsx
  ui/src/types/product.ts
Due: ui-eslint, api-maven-format

fix: switch ECL concept searches to POST and deduplicate ImsService (#1885)
  CHANGELOG.md
  eclrefset/pom.xml
  eclrefset/src/main/java/au/gov/digitalhealth/eclrefset/AddRemoveQueryThread.java
  eclrefset/src/main/java/au/gov/digitalhealth/eclrefset/EclRefsetApplication.java
  eclrefset/src/main/java/au/gov/digitalhealth/eclrefset/ImsService.java
  eclrefset/src/main/java/au/gov/digitalhealth/eclrefset/SnowstormConceptSearchRequest.java
  ui/src/api/ConceptService.ts
  ui/src/hooks/eclRefset/useConceptsByEcl.tsx
  ui/src/pages/eclRefset/components/Confirm.tsx
  ui/src/pages/eclRefset/components/ECLConceptsList.tsx
Due: ui-eslint

Update changelog for release 1.3.48
  CHANGELOG.md
Due: none

fix(ui): restore Create Brand button on bulk brand authoring screen (#1891)
  CHANGELOG.md
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
Due: ui-eslint

fix(amt): exclude MPUUs with an extra ingredient from product calculation (#1895)
  CHANGELOG.md
  api/src/test/java/au/gov/digitalhealth/lingo/util/EclBuilderNegativeFilterTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributesTest.java
Due: api-maven-format

fix(nmpc): name nutritional products from supplied names, not concatenation (#1898)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/NmpcMedicationDetailsValidator.java
  api/src/main/resources/NMPC/base-medication-schema.json
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationServiceNutritionalNameTest.java
Due: api-maven-format

fix(nmpc): always state new VMPs under Virtual medicinal product (product) (#1899)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/MedicationVmpParentTest.java
Due: api-maven-format

fix(ui): apply branded-product-name prefill in the widget (fixes intermittent Brand Name mis-fill) (#1897)
  CHANGELOG.md
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/products/rjsf/widgets/BrandedProductNameWidget.render.test.tsx
  ui/src/pages/products/rjsf/widgets/BrandedProductNameWidget.test.ts
  ui/src/pages/products/rjsf/widgets/BrandedProductNameWidget.tsx
Due: ui-eslint

Update changelog for release 1.3.49
  CHANGELOG.md
Due: none
