Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

feat(sentry): filter upstream, client-disconnect, and expected-4xx noise (#1892)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ClientDisconnectNoiseFilter.java
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ClientErrorNoiseFilter.java
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/NonProdUpstreamErrorFilter.java
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/SentryNoiseFilterConfiguration.java
  api/src/main/resources/application.properties
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/ClientDisconnectNoiseFilterTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/ClientErrorNoiseFilterTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/NonProdUpstreamErrorFilterTest.java
Due: api-maven-format

fix(device): name devices to match the HSE gold (bare-brand ATM, "(N devices)" packs) (#1900)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceProductCalculationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DeviceProductCalculationServiceNameTest.java
Due: api-maven-format

fixed 3rd party license files
  LICENSE
  NOTICE
  THIRD_PARTY_NOTICES.md
Due: none

Rename priority bucket labels: 1a->1, 1b->2, 2->3, 3->4 (#1931)
  CHANGELOG.md
  api/src/main/resources/db/migration/postgresql/V1_36__RenamePriorityBuckets.sql
  ui/cypress/e2e/BacklogSpec.cy.ts
  ui/cypress/fixtures/test-filter-ticket.json
Due: none

Fix branded product name prefill staying empty on robot-created drafts (CUST1737896) (#1935)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/TicketProductNameDerivationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/TicketProductNameDerivationServiceTest.java
  ui/src/Tracing.tsx
  ui/src/api/ProductService.ts
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/products/rjsf/helpers/__fixtures__/nmpc-base-medication-schema.json
  ui/src/pages/products/rjsf/helpers/__fixtures__/nmpc-base-medication-ui-schema.json
  ui/src/pages/products/rjsf/helpers/ticketProductLoadHelper.test.ts
  ui/src/pages/products/rjsf/helpers/ticketProductLoadHelper.ts
  ui/src/pages/products/rjsf/helpers/validationHelper.test.ts
  ui/src/pages/products/rjsf/helpers/validationHelper.ts
  ui/src/pages/products/rjsf/helpers/validator.test.ts
  ui/src/pages/products/rjsf/helpers/validator.ts
Due: ui-eslint, api-maven-format

Release 1.4.0
  CHANGELOG.md
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update for next development version
  CHANGELOG.md
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Restore Jackson Module bean auto-discovery in objectMapper() (#1940)
  CHANGELOG.md
  LICENSE
  THIRD_PARTY_NOTICES.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/JacksonSnowstormConceptMiniConfigTest.java
  scripts/check-third-party-notices.sh
  ui/dependency-licenses
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/third-party-notices-npm.md
Due: api-maven-format

Release 1.4.1
  CHANGELOG.md
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

chore: stop CHANGELOG.md merge conflicts, and move the changelog check off Actions (#1939)
  .gitattributes
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  CLAUDE.md
  azure-pipelines.yml
  scripts/changelog.py
Due: none

Update Snowstorm release version (#1941)
  CHANGELOG.md
  LICENSE
  THIRD_PARTY_NOTICES.md
  pom.xml
Due: none

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.4.2
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Fix timestamp issue with springboot upgrade on json (#1942)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
  api/src/test/java/au/gov/digitalhealth/lingo/configuration/ObjectMapperInstantSerializationTest.java
Due: api-maven-format

Update changelog for release 1.4.3
  CHANGELOG.md
Due: none

Bump nanoid to 5.1.16 to clear CVE-2026-67214 (Trivy HIGH) (#1947)
  CHANGELOG.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

Validate referenced concepts exist on the branch before saving a product (#1944)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductCreationServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnomedIdentifierUtil.java
  ui/src/api/ConceptService.ts
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
  ui/src/stores/AuthoringStore.ts
  ui/src/types/productValidationUtils.test.ts
  ui/src/types/productValidationUtils.ts
Due: ui-eslint, api-maven-format

Update changelog for release 1.4.4
  CHANGELOG.md
Due: none

Update changelog for release 1.4.5
  CHANGELOG.md
Due: none

Fix external requestors being lost or rejected on ticket update (#1954)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
  ui/src/pages/tickets/TicketsBacklog.tsx
  ui/src/pages/tickets/components/TicketsBulkEdit.tsx
  ui/src/utils/helpers/tickets/externalRequestorUtils.ts
Due: ui-eslint, api-maven-format

Update changelog for release 1.4.6
  CHANGELOG.md
Due: none

Update changelog for release 1.4.7
  CHANGELOG.md
Due: none
