Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

Fix non defining property issues
  api/src/main/resources/default-model-config.yaml
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
Due: ui-eslint

Update default-model-config.yaml to modify multiValued and mandatory fields for device class and hpra link
  api/src/main/resources/default-model-config.yaml
Due: none

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.6
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

formatting fixes
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/BasePropertyDefinition.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/Models.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/NmpcConstants.java
Due: none

formatting fixes
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
Due: api-maven-format

WOP12 remove VMP cascade for licenced route
  api/src/main/resources/default-model-config.yaml
Due: none

Update changelog for release 1.3.7
  CHANGELOG.md
Due: none

Fix bugs related to the external identifiers
  api/src/main/resources/AMT/base-bulk-brand-schema.json
  api/src/main/resources/AMT/base-bulk-pack-schema.json
  api/src/main/resources/NMPC/base-bulk-brand-schema.json
  api/src/main/resources/NMPC/base-bulk-pack-schema.json
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
Due: none

Fix bugs related to the external identifiers
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/FieldValue.java
Due: none

Fix bugs related to the external identifiers
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
Due: none

Fix NMPC device identifier binding in UI schema
  CHANGELOG.md
  api/src/main/resources/NMPC/base-device-ui-schema.json
Due: none

Update changelog for release 1.3.8
  CHANGELOG.md
Due: none

Bulk pack enhancements (#1581)
  api/src/main/resources/AMT/base-bulk-pack-ui-schema.json
  api/src/main/resources/NMPC/base-bulk-pack-ui-schema.json
  ui/src/pages/products/hooks/useAddButton.ts
  ui/src/pages/products/rjsf/fields/bulkBrandPack/AddPackSizeButton.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
  ui/src/pages/products/rjsf/helpers/validationHelper.ts
  ui/src/pages/products/rjsf/templates/bulkBrandPack/PackSizeArrayTemplate.tsx
Due: ui-eslint

Disable update button for inactive/deleted product (#1582)
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
Due: ui-eslint

Show the unpublished and published concepts separately in Lingo (#1583)
  ui/src/pages/products/components/SearchProduct.tsx
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
  ui/src/types/concept.ts
Due: ui-eslint

Fix the missing TP refset issue that was overlooked during the merge. (#1606)
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

Update changelog for release 1.3.9
  CHANGELOG.md
Due: none

change error messages on task rebase to give more information (#1603)
  ui/src/api/ConceptService.ts
  ui/src/hooks/api/task/useMergeTask.tsx
  ui/src/pages/tasks/components/MergeTaskModal.tsx
  ui/src/types/concept.ts
Due: ui-eslint

Merge review endpoint (#1607)
  ui/src/api/ConceptService.ts
  ui/src/hooks/api/task/useMergeTask.tsx
  ui/src/pages/tasks/components/MergeTaskModal.tsx
  ui/src/types/concept.ts
Due: ui-eslint

make cache be invalidated for concept searches & product loading when the branch is rebased (#1608)
  api/src/main/java/au/gov/digitalhealth/lingo/service/RequestScopedBranchTimestampService.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  ui/src/pages/tasks/components/MergeTaskModal.tsx
Due: ui-eslint, api-maven-format

Add a retry logic and logging for PrematureCloseException from snowstorm (#1609)
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
Due: api-maven-format

Update changelog for release 1.3.10
  CHANGELOG.md
Due: none

Fix product update crash (#1610)
  api/src/main/java/au/gov/digitalhealth/lingo/product/ProductUpdateDetails.java
Due: api-maven-format

Add headers and descriptions to My Backlog and Tickets Backlog views
  ui/src/pages/tickets/MyBacklog.tsx
  ui/src/pages/tickets/TicketsBacklog.tsx
Due: ui-eslint

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
