Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

added to gitignore
  ui/.gitignore
Due: none

Add secret scanning job with TruffleHog and Gitleaks to Azure Pipelines
  azure-pipelines.yml
Due: none

Enhance TruffleHog installation and reporting in Azure Pipelines
  azure-pipelines.yml
Due: none

Add dependency on secrets_scan job in build pipeline
  azure-pipelines.yml
Due: none

Update Gitleaks configuration to allow shorter secret codes and add allowlist for REDACTED values
  .gitleaks.toml
Due: none

gitleaks: rule/allowlist updates; ignore reports
  .gitleaks.toml
Due: none

Update azure-pipelines.yml
  azure-pipelines.yml
Due: none

fixed script issue introduced with Copilot suggestion
  azure-pipelines.yml
Due: none

fix issues with description update, around atc code and serialization
  api/src/test/java/au/gov/digitalhealth/lingo/product/ProductSummaryNodeDeduplicationTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/SubAdditionalProperty.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
Due: api-maven-format

fix error message that task no longer exists
  ui/src/hooks/useTaskByKey.tsx
Due: ui-eslint

fixes for I229, I230, I231 - config issues for HSE properties
  api/src/main/resources/default-model-config.yaml
Due: none

Pack size tweaks (#1545)
  api/src/main/resources/AMT/base-bulk-brand-ui-schema.json
  api/src/main/resources/AMT/base-bulk-pack-ui-schema.json
  api/src/main/resources/AMT/base-medication-schema.json
  ui/src/pages/products/rjsf/BrandAuthoring.tsx
  ui/src/pages/products/rjsf/PackSizeAuthoring.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/AddBrandButton.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/AddPackSizeButton.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
  ui/src/pages/products/rjsf/helpers/helpers.ts
  ui/src/pages/products/rjsf/templates/bulkBrandPack/BrandArrayTemplate.tsx
  ui/src/pages/products/rjsf/templates/bulkBrandPack/PackSizeArrayTemplate.tsx
Due: ui-eslint

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.1
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

allow loading of links for additional properties
  ui/src/pages/products/components/AdditionalFieldsDisplay.tsx
  ui/src/pages/products/components/AdditionalPropertiesDisplay.tsx
  ui/src/pages/tickets/individual/components/MediaViewerModal.tsx
Due: ui-eslint

Update bulk pack,brand for HSE
  api/src/main/resources/NMPC/base-bulk-brand-ui-schema.json
  api/src/main/resources/NMPC/base-bulk-pack-ui-schema.json
Due: none

fix issue with ulm flag on product update
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
Due: api-maven-format

Fix Update button related issues
  ui/src/pages/products/components/AdditionalPropertiesDisplay.tsx
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
Due: ui-eslint

Fix nutritional product target population and fixing the variant type
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
  api/src/main/resources/NMPC/base-medication-schema.json
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
Due: api-maven-format

defaulted redacted value
  api/src/main/resources/application.properties
Due: none

Refactor services to improve parameter handling and code organization
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/NodeGeneratorService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
Due: api-maven-format

refactor to us NMPC type
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationService.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/NmpcType.java
Due: api-maven-format

fixed existing clinical drug and existing mp for nutritional products
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationService.java
Due: api-maven-format

fix formatting
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationService.java
Due: api-maven-format

change postfix for supplier
  api/src/main/resources/default-model-config.yaml
Due: none

Feature/generic backend refactor rebase (#1528)
  ui/src/api/ConceptService.ts
  ui/src/hooks/api/task/useMergeTask.tsx
  ui/src/pages/tasks/components/MergeTaskModal.tsx
  ui/src/pages/tasks/components/TaskDetailsActions.tsx
  ui/src/types/task.ts
Due: ui-eslint

Fix double space tabs etc from fsn and pt (#1554)
  ui/src/api/ProductService.ts
  ui/src/components/editProduct/ProductEditModal.tsx
  ui/src/pages/products/components/NewConceptDropdown.tsx
  ui/src/types/productValidationUtils.ts
Due: ui-eslint

fix for I232
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

fix for properties not showing on edit terms screen across product/package
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/SchemaExtender.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/UiSchemaExtender.java
Due: api-maven-format

Prevent stale update by enabling a reload button (#1555)
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
Due: ui-eslint

Updated OII for NMPC to default to "None" if not set
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
Due: api-maven-format

Fix error snackbar for 400's (#1557)
  ui/src/api/ProblemDetail.ts
Due: ui-eslint

Sort bulk products by pt ascending order (#1558)
  ui/src/pages/tickets/components/TicketProducts.tsx
Due: ui-eslint

Bulk product action migration (#1556)
  api/src/main/java/au/gov/digitalhealth/lingo/db/migration/BaseBulkProductMigration.java
  api/src/main/java/au/gov/digitalhealth/lingo/db/migration/V1_33__TransformExternalIdentifiersInBulkProducts.java
Due: api-maven-format

Update changelog for release 1.3.2
  CHANGELOG.md
Due: none
