Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

Add Validations to bulk pack size
  api/src/main/java/au/gov/digitalhealth/lingo/service/AtomicDataService.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/ModelConfiguration.java
Due: api-maven-format

Add handling for unknown codes in ExternalIdentifier and UI updates
  common/src/main/java/au/gov/digitalhealth/lingo/product/Node.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
  ui/src/pages/products/components/AdditionalPropertiesDisplay.tsx
  ui/src/types/concept.ts
  ui/src/utils/helpers/ProductPreviewUtils.ts
Due: ui-eslint

Update CHANGELOG to reflect handling of unknown coded values in properties
  CHANGELOG.md
Due: none

Refactor handling of unknown codes in ExternalIdentifier to use a constant
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
Due: none

Update ui/src/pages/products/components/AdditionalPropertiesDisplay.tsx
  ui/src/pages/products/components/AdditionalPropertiesDisplay.tsx
Due: ui-eslint

Remove non-definining properties from term edit (#1654)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
  ui/src/components/editProduct/ExistingDescriptionsSection.tsx
  ui/src/components/editProduct/ProductEditModal.tsx
  ui/src/types/product.ts
  ui/src/types/productValidations.ts
Due: ui-eslint, api-maven-format

Add @JsonIgnore annotation to isUnknownCode method in ExternalIdentifier
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
Due: none

Refactor validators to include SnowstormClient and FhirClient to validate external identifiers
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/AmtDeviceValidator.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/AmtMedicationDetailsValidator.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/DetailsValidator.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/MedicationDetailsValidator.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/NmpcDeviceDetailsValidator.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/NmpcMedicationDetailsValidator.java
Due: api-maven-format

Update api/src/main/java/au/gov/digitalhealth/lingo/service/validators/DetailsValidator.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/DetailsValidator.java
Due: api-maven-format

Fix formatting in error message for external identifier validation
  api/src/main/java/au/gov/digitalhealth/lingo/service/validators/DetailsValidator.java
Due: api-maven-format

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.20
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Unencoded 'branch' parameters get mis-handled by the nginx-to-api-gateway connection and need to be URL encoded by the browser before requesting
  ui/src/api/ConceptService.ts
Due: ui-eslint

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove obsolete readonly recall-related properties from model configuration
  api/src/main/resources/default-model-config.yaml
Due: none

Add hidden property support to BasePropertyDefinition and filter hidden properties in ExternalIdentifiers
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/UiSchemaExtender.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/BasePropertyDefinition.java
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
Due: ui-eslint, api-maven-format

Update CHANGELOG to reflect removal of unnecessary NMPC fields and addition of field hiding capability
  CHANGELOG.md
Due: none

add missing for brand and pack hiddenProperties
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
  ui/src/pages/products/rjsf/templates/bulkBrandPack/BrandArrayTemplate.tsx
  ui/src/pages/products/rjsf/templates/bulkBrandPack/PackSizeArrayTemplate.tsx
Due: ui-eslint

Remove case sensitivity fields from description display and edit modal
  ui/src/components/editProduct/ExistingDescriptionsSection.tsx
  ui/src/components/editProduct/ProductEditModal.tsx
Due: ui-eslint

Update changelog to reflect removal of case sensitivity fields for edit terms screen
  CHANGELOG.md
Due: none

Fix rebase process UI login prompt issue
  CHANGELOG.md
Due: none

Formatting fix
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/UiSchemaExtender.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/BasePropertyDefinition.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
Due: api-maven-format

Update changelog for release 1.3.21
  CHANGELOG.md
Due: none

Fix concept inactivation to also inactivate relationships
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

Add Schedule 8 reference set to model configuration for AMT
  CHANGELOG.md
  api/src/main/resources/default-model-config.yaml
Due: none

Add FSL-1.1-MIT license to allowed licenses list
  ui/allowed-licenses.json
Due: none

Bugfix/jira users (#1665)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/JiraUserManagerService.java
Due: api-maven-format

Update changelog for release 1.3.22
  CHANGELOG.md
Due: none

fix format
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

refactor: remove unnecessary type attribute and clean up interface declaration
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
  ui/src/pages/tickets/components/grid/TicketDrawer.tsx
Due: ui-eslint

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
