Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

fix: paginate via synchronous loop and filter out released concepts
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

fix: revert pagination, skip inactivation/association refsets
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

fix: paginate refset member and concept queries via POST offset
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

fix: revert offset pagination, pin 10000 result-window in IT
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientDanglingReferenceIntegrationTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

fix: cross-check retired-on-task candidates against project active state
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
Due: api-maven-format

feat: add traceability service client and net-change aggregator
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ApiWebConfiguration.java
  api/src/main/resources/application.properties
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/Activity.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummary.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/ComponentChange.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/ConceptChange.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/PageActivity.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/TraceabilityServiceClient.java
  common/src/test/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummaryTest.java
Due: api-maven-format

feat: drive dangling-reference detection from traceability scope
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientDanglingReferenceIntegrationTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

review: harden traceability flow + audit-log every tidy action
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/traceability/TraceabilityServiceClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummary.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/TraceabilityServiceClient.java
  common/src/test/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummaryTest.java
Due: api-maven-format

changes
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/TaskManagerClient.java
Due: api-maven-format

Apply preferred term max length to atomic screen
  api/src/main/resources/application.properties
  common/src/main/java/au/gov/digitalhealth/lingo/product/NewConceptDetails.java
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidPreferredTermLength.java
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidPreferredTermLengthValidator.java
  ui/src/pages/products/ProductModelEdit.tsx
  ui/src/pages/products/ProductPreviewSaveOrViewMode.tsx
  ui/src/pages/products/components/NewConceptDropdown.tsx
  ui/src/pages/products/components/ProductPreviewBody.tsx
Due: ui-eslint

format
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
Due: api-maven-format

chore: use Lombok @NonNull on dangling-reference records
  CLAUDE.md
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingNonDefiningRelationship.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingRefsetMember.java
Due: api-maven-format

Apply preferred term max length to Edit term screen
  api/src/main/java/au/gov/digitalhealth/lingo/product/update/ProductDescriptionUpdateRequest.java
  api/src/main/java/au/gov/digitalhealth/lingo/product/update/ProductUpdateRequest.java
  api/src/main/java/au/gov/digitalhealth/lingo/validation/ValidProductDescriptionPreferredTermLength.java
  api/src/main/java/au/gov/digitalhealth/lingo/validation/ValidProductDescriptionPreferredTermLengthValidator.java
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidPreferredTermLengthValidator.java
  ui/src/components/editProduct/ProductEditModal.tsx
  ui/src/pages/products/components/NewConceptDropdown.tsx
  ui/src/utils/helpers/FieldBindingUtils.ts
Due: ui-eslint, api-maven-format

chore: drop dead-code from PR additions
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummary.java
  common/src/test/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummaryTest.java
Due: none

refactor: tidy() drives off detect()'s output; predicate helpers
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingReferenceSummary.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
Due: api-maven-format

chore: isReleased takes the source object directly
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
Due: api-maven-format

Apply preferred term max length to Edit term screen
  ui/src/types/productValidations.ts
Due: ui-eslint

fix: invert refset member dangling-status check
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
Due: api-maven-format

refactor: drive dangling-ref detection straight from traceability ids
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientDanglingReferenceIntegrationTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummary.java
  common/src/test/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummaryTest.java
Due: api-maven-format

chore: assert non-null invariants in toDanglingMember/toDanglingRel
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
Due: api-maven-format

refactor(BranchChangeSummary): break from() into helpers
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummary.java
Due: none

test: drop outdated offset-paging guard, fill scenario-B + dedupe gaps
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientDanglingReferenceIntegrationTest.java
Due: api-maven-format

test: drop wire-contract tests that don't pin Lingo-specific behaviour
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
Due: api-maven-format

chore: drop authoring-artefact docs/superpowers; ignore the dir
  .gitignore
  docs/superpowers/plans/2026-04-30-tidy-refsets-and-non-defining-rels-on-promote.md
  docs/superpowers/specs/2026-04-30-tidy-refsets-and-non-defining-rels-on-promote-design.md
Due: none

fix: preserve auth on per-id Snowstorm fetches and surface broken invariants
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

refactor: tighten DanglingReferenceService internals from PR review
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
Due: api-maven-format

fix(test): bypass SnowstormClient auth filter in new-brand integration test
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationNewBrandPackTest.java
Due: api-maven-format

test: pin WireMock stub priorities in SnowstormClientWireContractTest
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
Due: api-maven-format

revert(test): remove AMT integration test for #1755 — premise was wrong
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationNewBrandPackTest.java
Due: api-maven-format

fix(test): WireMock port collision + integration test 404 expectations
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientDanglingReferenceIntegrationTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
Due: api-maven-format

fix(test): clear SnowstormClient's static ThreadLocal caches in wire test
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
Due: api-maven-format

fix: catch LingoProblem in tidy() + cover relationships precedence
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
Due: api-maven-format

Apply preferred term max length to Edit term screen
  api/src/main/resources/application.properties
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/FieldBindingConfiguration.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/CacheConstants.java
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidDescriptionValidation.java
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidPreferredTermLengthValidator.java
Due: none

Changelog entry
  CHANGELOG.md
Due: none

fix: seed AtomicCache with NmpcConstants to substitute NMPC ids in axioms
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
Due: api-maven-format

Potential fix for pull request finding
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidPreferredTermLengthValidator.java
Due: none

Feature/changes on task promotion (#1758)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/CachingConfig.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/TaskAssociationCleanupService.java
  api/src/main/java/au/gov/digitalhealth/tickets/repository/TicketRepository.java
  ui/src/pages/tasks/components/TasksList.tsx
  ui/src/pages/tickets/components/grid/TicketsBacklogView.tsx
Due: ui-eslint, api-maven-format

Fix null pointer exception in quantity unit validation for each
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/util/ValidationUtil.java
Due: api-maven-format

Fix merge issue
  CHANGELOG.md
Due: none

Update change log
  CHANGELOG.md
Due: none
