Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.18
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Make dose form type field mandatory for NMPC
  CHANGELOG.md
  api/src/main/resources/default-model-config.yaml
Due: none

Update CHANGELOG and implement conditional Artg Id search for AMT branches
  CHANGELOG.md
  ui/src/pages/products/components/SearchProduct.tsx
Due: ui-eslint

Refactor SearchProduct for sonar issues
  ui/src/pages/products/components/SearchProduct.tsx
Due: ui-eslint

Remove RJSF refactor warning from README and update CHANGELOG
  CHANGELOG.md
  README.md
Due: none

Update ui/src/pages/products/components/SearchProduct.tsx
  ui/src/pages/products/components/SearchProduct.tsx
Due: ui-eslint

fix ChangelogModal.tsx bug (#1633)
  CHANGELOG.md
  ui/src/pages/settings/ChangelogModal.tsx
Due: ui-eslint

prettier fixes
  ui/src/pages/products/components/SearchProduct.tsx
Due: ui-eslint

Add color/icon legend to box model views and update descriptions
  CHANGELOG.md
  ui/src/pages/products/components/ColorLegend.tsx
  ui/src/pages/products/components/ProductPreviewBody.tsx
  ui/src/utils/locales/en.json
Due: ui-eslint

Update ui/src/utils/locales/en.json
  ui/src/utils/locales/en.json
Due: none

Disable delete option for robot created product saved data (#1634)
  CHANGELOG.md
  ui/src/pages/tickets/components/TicketProducts.tsx
Due: ui-eslint

Update .gitignore to include additional application properties and ignore public and target directories
  .gitignore
  api/.gitignore
Due: none

Add displayForReadOnly property to ColorLegend and update filtering logic
  ui/src/pages/products/components/ColorLegend.tsx
  ui/src/pages/products/components/ProductPreviewBody.tsx
Due: ui-eslint

Add extended search for pack size unit of measure for NMPC
  CHANGELOG.md
  api/src/main/resources/NMPC/base-medication-ui-schema.json
Due: none

Add expand/collapse all button to box model screens
  CHANGELOG.md
  ui/src/pages/products/components/ProductPreviewBody.tsx
Due: ui-eslint

added notification when release version changes
  ui/src/hooks/api/useInitializeConfig.tsx
  ui/src/layouts/MainLayout/Header/HeaderContent/AboutBox/index.tsx
  ui/src/layouts/MainLayout/index.tsx
Due: ui-eslint

add changedlog changes
  CHANGELOG.md
Due: none

remove unused/non-existant import
  ui/src/layouts/MainLayout/Header/HeaderContent/AboutBox/index.tsx
Due: ui-eslint

Update changelog for release 1.3.19
  CHANGELOG.md
Due: none

stop error occuring on merge page
  ui/src/pages/tasks/components/MergeTaskModal.tsx
Due: ui-eslint

changelog
  CHANGELOG.md
Due: none

change backlog column widths
  CHANGELOG.md
  ui/src/pages/tickets/components/grid/CustomIterationSelection.tsx
  ui/src/pages/tickets/components/grid/CustomPrioritySelection.tsx
  ui/src/pages/tickets/components/grid/CustomTicketAssigneeSelection.tsx
  ui/src/pages/tickets/components/grid/Templates.tsx
  ui/src/pages/tickets/components/grid/TicketsBacklogView.tsx
Due: ui-eslint

image in pom.xml is already multiarch, pushing to quay with existing creds
  azure-pipelines.yml
Due: none

Improve logging for branch unlock attempts in SnowstormClient
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

Add getter for whitelist prefixes in ExternalReferenceToBlobStorage to avoid NPE
  api/src/main/java/au/gov/digitalhealth/lingo/configuration/ExternalReferenceToBlobStorage.java
Due: api-maven-format

Fix nondefining properties issues with brand and pack
  api/src/main/java/au/gov/digitalhealth/lingo/service/AtomicDataService.java
  api/src/main/resources/AMT/base-bulk-brand-schema.json
  api/src/main/resources/AMT/base-bulk-brand-ui-schema.json
  api/src/main/resources/AMT/base-bulk-pack-ui-schema.json
  api/src/main/resources/NMPC/base-bulk-brand-schema.json
  api/src/main/resources/NMPC/base-bulk-brand-ui-schema.json
  api/src/main/resources/NMPC/base-bulk-pack-ui-schema.json
  ui/src/pages/products/rjsf/BrandAuthoring.tsx
  ui/src/pages/products/rjsf/PackSizeAuthoring.tsx
  ui/src/pages/products/rjsf/components/AdditionalFieldsEditor.tsx
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
  ui/src/pages/products/rjsf/components/ErrorDisplay.tsx
  ui/src/pages/products/rjsf/components/MultiValueEclAutocomplete.tsx
  ui/src/pages/products/rjsf/components/MultiValueSetAutocomplete.tsx
  ui/src/pages/products/rjsf/components/ValueSetAutocomplete.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/AddBrandButton.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
  ui/src/pages/products/rjsf/helpers/rjsfUtils.ts
  ui/src/pages/products/rjsf/helpers/validationHelper.ts
  ui/src/pages/products/rjsf/templates/bulkBrandPack/BrandArrayTemplate.tsx
  ui/src/pages/products/rjsf/templates/bulkBrandPack/PackSizeArrayTemplate.tsx
Due: ui-eslint, api-maven-format

Fix nondefining properties issues with brand and pack
  CHANGELOG.md
Due: none

Enhance UI schema updates to include read-only properties for bulk brand operation
  api/src/main/java/au/gov/digitalhealth/lingo/service/SchemaService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/UiSchemaExtender.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/ModelConfiguration.java
Due: api-maven-format

Update testcontainers dependencies to version 2.0.2 to work around Mac Docker update
  api/pom.xml
Due: none

now when an invalid external identifier is in the form, a search will now be sent to ontoserver to validate the code
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/UiSchemaExtender.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/BasePropertyWithValueDefinition.java
  ui/src/api/OntoserverService.ts
  ui/src/hooks/api/products/useSearchConcept.tsx
  ui/src/pages/products/rjsf/components/MultiValueSetAutocomplete.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/types/product.ts
Due: ui-eslint, api-maven-format

pr feedback
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/UiSchemaExtender.java
  ui/src/hooks/api/products/useSearchConcept.tsx
Due: ui-eslint, api-maven-format

add changelog updates
  CHANGELOG.md
Due: none

Fix nondefining properties issues with brand and pack
  ui/src/pages/products/rjsf/BrandAuthoring.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/AddBrandButton.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
  ui/src/pages/products/rjsf/helpers/validationHelper.ts
  ui/src/pages/products/rjsf/templates/bulkBrandPack/BrandArrayTemplate.tsx
  ui/src/pages/products/rjsf/templates/bulkBrandPack/PackSizeArrayTemplate.tsx
Due: ui-eslint

Add Validations to bulk pack size
  api/src/main/resources/AMT/base-bulk-pack-ui-schema.json
  api/src/main/resources/NMPC/base-bulk-pack-ui-schema.json
  ui/src/pages/products/hooks/useAddButton.ts
  ui/src/pages/products/rjsf/BrandAuthoring.tsx
  ui/src/pages/products/rjsf/PackSizeAuthoring.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/AddBrandButton.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
  ui/src/pages/products/rjsf/helpers/validationHelper.ts
  ui/src/pages/products/rjsf/templates/bulkBrandPack/PackSizeArrayTemplate.tsx
Due: ui-eslint

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
