Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

change sort order for release and product search (#1748)
  ui/src/pages/products/components/SearchProduct.tsx
  ui/src/pages/settings/ReleaseSettings.tsx
Due: ui-eslint

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.37
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Mc request submission support (#1722)
  api/src/main/java/au/gov/digitalhealth/lingo/controllers/MedicationController.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationClient.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationRouter.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NodeNameGenerator.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/AttachmentController.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/ExternalRequestorController.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/LabelController.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/TicketController.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/AmtRequest.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/AttachmentUrlDto.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/PathMultipartFile.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/PbsRequestResponse.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/TicketMetadata.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/TicketSubmissionResponse.java
  api/src/main/java/au/gov/digitalhealth/tickets/helper/TicketUtils.java
  api/src/main/java/au/gov/digitalhealth/tickets/models/AdditionalFieldType.java
  api/src/main/java/au/gov/digitalhealth/tickets/models/SynonymConfiguration.java
  api/src/main/java/au/gov/digitalhealth/tickets/repository/AttachmentTypeRepository.java
  api/src/main/java/au/gov/digitalhealth/tickets/repository/SynonymConfigurationRepository.java
  api/src/main/java/au/gov/digitalhealth/tickets/repository/TicketRepository.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/AdditionalFieldService.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/AttachmentService.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/ModifiedGeneratedNameService.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
  api/src/main/resources/application.properties
  api/src/main/resources/db/migration/h2/V1_35__AdditionalFieldTypeSharedValue.sql
  api/src/main/resources/db/migration/postgresql/V1_35__AdditionalFieldTypeSharedValue.sql
  api/src/test/java/au/gov/digitalhealth/lingo/LingoTestBase.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/AttachmentControllerTest.java
  api/src/test/java/au/gov/digitalhealth/tickets/controllers/TicketControllerContainerTest.java
  api/src/test/resources/tickets/pbs-request-mark-as-pbs-sergio-response.json
  api/src/test/resources/tickets/pbs-request-mark-as-pbs.json
  api/src/test/resources/tickets/pbs-request-new.json
  api/src/test/resources/tickets/pbs-request-no-artgid.json
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
  common/src/main/java/au/gov/digitalhealth/tickets/TicketMinimalDto.java
Due: api-maven-format

Update changelog for release 1.3.38
  CHANGELOG.md
Due: none

docs: add design spec for issue #1753 dangling reference tidy on promote
  docs/superpowers/specs/2026-04-30-tidy-refsets-and-non-defining-rels-on-promote-design.md
Due: none

fix(brand-pack-size): preserve source IS_A modelling and correct NMPC MP root
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
Due: api-maven-format

docs: add implementation plan for issue #1753
  docs/superpowers/plans/2026-04-30-tidy-refsets-and-non-defining-rels-on-promote.md
Due: none

feat(api): add dangling-reference DTOs for issue #1753
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/ConceptStatus.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingNonDefiningRelationship.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingReferenceSummary.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingRefsetMember.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/TidyAction.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/TidyFailure.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/TidyKind.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/TidyResult.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/TidySuccess.java
Due: api-maven-format

feat(common): add helpers for dangling-reference detection (#1753)
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

test(brand-pack-size): cover IS_A modelling preservation for #1755
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/BrandPackSizeServiceTest.java
Due: api-maven-format

feat(api): DanglingReferenceService detect & tidy with TDD coverage (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
Due: api-maven-format

feat(api): expose dangling-reference detect & tidy endpoints (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/controllers/TasksController.java
Due: api-maven-format

feat(ui): add dangling-reference types and TasksService methods (#1753)
  ui/src/api/TasksService.ts
  ui/src/types/danglingReferences.ts
Due: ui-eslint

feat(ui): add dangling-reference query and mutation hooks (#1753)
  ui/src/hooks/api/task/useDanglingReferences.tsx
  ui/src/hooks/api/task/useTidyDanglingReferences.tsx
Due: ui-eslint

feat(ui): show dangling references and tidy on promote (#1753)
  ui/src/pages/tasks/components/PromoteTaskModal.tsx
Due: ui-eslint

test(brand-pack-size): replace iterator().next() with AssertJ chain
  api/src/test/java/au/gov/digitalhealth/lingo/service/BrandPackSizeServiceTest.java
Due: api-maven-format

fix(brand-pack-size): restore source-axiom definedness for new branded MP and trim review comments
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/BrandPackSizeServiceTest.java
Due: api-maven-format

fix: address review findings on dangling-reference tidy (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/controllers/TasksController.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingNonDefiningRelationship.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingReferenceSummary.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingRefsetMember.java
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/TidyResult.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  ui/src/hooks/api/task/useDanglingReferences.tsx
  ui/src/hooks/api/task/useTidyDanglingReferences.tsx
  ui/src/pages/tasks/components/PromoteTaskModal.tsx
  ui/src/types/danglingReferences.ts
Due: ui-eslint, api-maven-format

docs: add changelog entry for #1755 brand/pack-size modelling fix
  CHANGELOG.md
Due: none

docs: add CHANGELOG entry for issue #1753
  CHANGELOG.md
Due: none

fix(common): use CharacteristicType enum name for Snowstorm rel search
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

test(api): add WireMock wire-contract tests for SnowstormClient (#1753)
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
Due: api-maven-format

test(brand-pack-size): assert stated IS_A on AMT new-brand TP from Snowstorm
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationNewBrandPackTest.java
Due: api-maven-format

test(api): tidy-side wire contracts + Snowstorm round-trip (#1753)
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientDanglingReferenceIntegrationTest.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
Due: api-maven-format

fix(api): filter description-targeting refset members + batch concept lookups (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
Due: api-maven-format

feat: speed up dangling-ref detection + show progress in modal (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  ui/src/pages/tasks/components/PromoteTaskModal.tsx
Due: ui-eslint, api-maven-format

fix: allow null destinationId on non-defining relationships (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/promotion/DanglingNonDefiningRelationship.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  ui/src/pages/tasks/components/PromoteTaskModal.tsx
  ui/src/types/danglingReferences.ts
Due: ui-eslint, api-maven-format

fix: skip malformed non-defining relationships rather than 500ing (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
Due: api-maven-format

fix(common): switch concept bulk lookup to known-working browser bulk-load (#1753)
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

fix(common): scope dangling-ref detection by component path (#1753)
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

feat: detect dangling refs for both task scenarios in parallel (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/DanglingReferenceServiceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

fix: keep concept lookups on the request thread (#1753)
  api/src/main/java/au/gov/digitalhealth/lingo/service/DanglingReferenceService.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

fix(common): use task-vs-project set-difference, drop path filter (#1753)
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

fix: paginate refset member and concept queries via searchAfter
  api/src/test/java/au/gov/digitalhealth/lingo/service/SnowstormClientWireContractTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format
