Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.42
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Fix accordion collapse when clicking review buttons and status indicators (#1825)
  CHANGELOG.md
  ui/src/pages/products/components/ProductStatusIndicators.tsx
  ui/src/pages/products/components/reviews/ConceptReviews.tsx
Due: ui-eslint

Update changelog for release 1.3.43
  CHANGELOG.md
Due: none

updated the CHANGELOG.md with ui rewrite info
  CHANGELOG.md
Due: none

Apply prettier formatting to UI test files
  ui/cypress.config.ts
  ui/cypress/TESTING.md
  ui/cypress/e2e/BacklogSpec.cy.ts
  ui/cypress/e2e/LoginSpec.cy.ts
  ui/cypress/e2e/ProductCreation.cy.ts
  ui/cypress/e2e/ProductSearchAndView.cy.ts
  ui/cypress/e2e/SystemSettingsSpec.cy.ts
  ui/cypress/e2e/helpers/product.ts
  ui/cypress/fixtures/api/bulk-brand-schema.json
  ui/cypress/fixtures/api/calculate-response-brand-done.json
  ui/cypress/fixtures/api/calculate-response-new-brand.json
  ui/cypress/fixtures/api/calculate-response-new-pack.json
  ui/cypress/fixtures/api/calculate-response-new.json
  ui/cypress/fixtures/api/calculate-response-pack-done.json
  ui/cypress/fixtures/api/calculate-response.json
  ui/cypress/fixtures/api/medication-detail.json
  ui/cypress/fixtures/api/medication-schema.json
  ui/cypress/fixtures/api/priority-buckets.json
  ui/cypress/fixtures/api/schedules.json
  ui/cypress/fixtures/api/service-status.json
  ui/cypress/fixtures/api/states.json
  ui/cypress/support/commands.ts
  ui/cypress/support/mock-interceptors.ts
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
Due: ui-eslint

Fix more accordion collapse (#1827)
  CHANGELOG.md
  ui/src/pages/products/components/ProductPreviewSimple.tsx
Due: ui-eslint

Update changelog for release 1.3.44
  CHANGELOG.md
Due: none

Adding a bunch of fixes for the ui tests
  ui/cypress/e2e/BacklogSpec.cy.ts
  ui/cypress/e2e/LoginSpec.cy.ts
  ui/cypress/e2e/LogoutSpec.cy.ts
  ui/cypress/e2e/helpers/backlog.ts
  ui/cypress/support/commands.ts
Due: none

Fixing BacklogSpec.cy.ts tests
  ui/.gitignore
  ui/cypress/e2e/BacklogSpec.cy.ts
  ui/cypress/e2e/helpers/ticket.ts
  ui/package.json
Due: none

Apply prettier formatting to BacklogSpec and LogoutSpec
  ui/cypress/e2e/BacklogSpec.cy.ts
  ui/cypress/e2e/LogoutSpec.cy.ts
Due: none

Triage remaining UI test specs against dev
  ui/cypress/UNRESOLVED_TESTS.md
  ui/cypress/e2e/ProductSearchAndView.cy.ts
Due: none

Fix sorting for product preview screen (#1835)
  CHANGELOG.md
  ui/src/pages/products/components/ProductTypeGroupPreview.tsx
  ui/src/utils/helpers/ticketProductsUtils.ts
Due: ui-eslint

Fix live Cypress suite against redesigned product authoring UI
  ui/cypress/UNRESOLVED_TESTS.md
  ui/cypress/e2e/ProductCreation.cy.ts
  ui/cypress/e2e/ProductSearchAndView.cy.ts
  ui/cypress/e2e/TaskSpec.cy.ts
  ui/cypress/e2e/helpers/backlog.ts
  ui/cypress/e2e/helpers/product.ts
  ui/cypress/e2e/helpers/task.ts
  ui/src/pages/products/rjsf/fields/AutoCompleteField.tsx
Due: ui-eslint

ProductCreation: stabilise brand, partial-save and search flows (17 passing)
  ui/cypress/UNRESOLVED_TESTS.md
  ui/cypress/e2e/ProductCreation.cy.ts
  ui/cypress/e2e/helpers/product.ts
Due: none

ProductCreation: device-type skip, bulk-pack scroll, search-open hardening (~18 passing)
  ui/cypress/UNRESOLVED_TESTS.md
  ui/cypress/e2e/ProductCreation.cy.ts
  ui/cypress/e2e/helpers/product.ts
Due: none

Fix bug ticket task association (#1836)
  CHANGELOG.md
  azure-pipelines.yml
  ui/src/pages/tickets/individual/components/edit/TaskAssociationFieldInput.tsx
Due: ui-eslint

ProductCreation: fix strength-type/device/multipack tests; add select testid
  CHANGELOG.md
  ui/cypress.config.ts
  ui/cypress/UNRESOLVED_TESTS.md
  ui/cypress/e2e/ProductCreation.cy.ts
  ui/cypress/e2e/helpers/product.ts
  ui/src/pages/products/rjsf/widgets/CustomSelectWidget.tsx
Due: ui-eslint

ProductCreation: un-skip 3 success-preview tests; fix root causes
  ui/cypress/UNRESOLVED_TESTS.md
  ui/cypress/e2e/ProductCreation.cy.ts
  ui/cypress/e2e/helpers/product.ts
Due: none

ProductCreation docs: correct UNRESOLVED_TESTS summary table
  ui/cypress/UNRESOLVED_TESTS.md
Due: none

cypress: reinstate iteration/externalRequestor setup as idempotent get-or-create
  ui/cypress/e2e/helpers/backlog.ts
Due: none

ProductCreation: prettier-format pack-details call sites
  ui/cypress/e2e/ProductCreation.cy.ts
Due: none

pushing updated ui test config
  ui/.env
  ui/vite.config.ts
Due: ui-eslint

pipeline: rework e2e pipeline to run Cypress on demand against deployed env
  CHANGELOG.md
  azure-pipelines-e2e.yml
Due: none

feat: per-product strength_format choice on medication authoring (#1838)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationClient.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationRouter.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/namegenerator/NameGenerationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/SchemaExtender.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/schema/UiSchemaExtender.java
  api/src/main/resources/default-model-config.yaml
  api/src/test/java/au/gov/digitalhealth/lingo/product/namegenerator/StrengthFormatHeuristicTest.java
  api/src/test/resources/strength-format/heuristic-cases.json
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/FieldBindingConfiguration.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/ModelConfiguration.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/NameGeneratorSpec.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/NewConceptDetails.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/MedicationProductDetails.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/namegenerator/StrengthFormat.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/namegenerator/StrengthFormatHeuristic.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/BranchChangeSummary.java
  common/src/main/java/au/gov/digitalhealth/lingo/traceability/TraceabilityServiceClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/ModelLevelDefiningAttributes.java
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidDescriptionValidation.java
  common/src/main/java/au/gov/digitalhealth/lingo/validation/ValidPreferredTermLengthValidator.java
  common/src/main/java/au/gov/digitalhealth/tickets/TicketMinimalDto.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NameGeneratorSpecTest.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/NewConceptDetailsTest.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/details/MedicationProductDetailsTest.java
  common/src/test/java/au/gov/digitalhealth/lingo/product/namegenerator/StrengthFormatTest.java
Due: api-maven-format

Update changelog for release 1.3.45
  CHANGELOG.md
Due: none

Fix product description reactivation and axiom edit-in-place (CUST1634236) (#1839)
  .gitignore
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
  api/src/test/java/au/gov/digitalhealth/lingo/service/ProductUpdateServiceRetireReplaceTest.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
  common/src/test/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtilAxiomEditTest.java
  ui/src/components/editProduct/ProductEditModal.tsx
  ui/src/types/productValidations.test.ts
  ui/src/types/productValidations.ts
Due: ui-eslint, api-maven-format

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
