Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

fix: update CHANGELOG with UI and model view fixes for unreleased changes
  CHANGELOG.md
Due: none

fix: remove unnecessary null check for `task.branchPath` in `TaskTicket` component
  ui/src/pages/tasks/components/TaskTicket.tsx
Due: ui-eslint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.30
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Update regex validation for product authorisation number
  api/src/main/resources/default-model-config.yaml
Due: none

Update CHANGELOG for product authorisation validation change
  CHANGELOG.md
Due: none

Update changelog for release 1.3.31
  CHANGELOG.md
Due: none

prettier changes
  ui/src/hooks/api/task/usePostReviewMessageMutation.tsx
  ui/src/pages/products/components/NewConceptDropdown.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/types/tickets/table.ts
Due: ui-eslint

fix: correct interface formatting inconsistencies across multiple files
  ui/src/hooks/api/task/usePostReviewMessageMutation.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/types/tickets/table.ts
Due: ui-eslint

fix: ensure immutability in sorting logic across hooks and components
  ui/src/hooks/api/task/useAllTasks.tsx
  ui/src/hooks/api/tickets/useTicketById.tsx
  ui/src/pages/jobs/Jobs.tsx
Due: ui-eslint

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

bugfix: reduce task cache TTL to 30s and add new task statuses to Task model
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/util/Task.java
  api/src/main/resources/application.properties
Due: api-maven-format

Bugfix/semantic tag and advanced search (#1706)
  CHANGELOG.md
  ui/src/components/ConceptSearchSidebar.tsx
  ui/src/pages/products/components/NewConceptDropdown.tsx
Due: ui-eslint

fix
  ui/src/hooks/api/tickets/useTicketById.tsx
Due: ui-eslint

fix
  CHANGELOG.md
Due: none

temp
  ui/src/hooks/api/task/useAllTasks.tsx
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
Due: ui-eslint

lint
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
Due: ui-eslint

remove commented code
  ui/src/pages/products/rjsf/components/EclAutocomplete.tsx
Due: ui-eslint

CHANGELOG.md
  CHANGELOG.md
Due: none

fix: handle null and undefined `active` flags in relationship filtering - key change missing active filter on line 57 of NonDefiningPropertyUtils
  api/src/main/java/au/gov/digitalhealth/lingo/service/AtomicDataService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/NodeGeneratorService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/util/ValidationUtil.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/NewNodeDependencyComparator.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/NonDefiningPropertyUtils.java
Due: api-maven-format

Fix validation issue with non-def properties on new brands left hand side panel
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/PackDetails.tsx
Due: ui-eslint

Fix validation issue with non-def properties on new brands left hand side panel
  CHANGELOG.md
Due: none

fix: ensure immutability in `useAllTasks` sorting logic and update CHANGELOG
  CHANGELOG.md
  ui/src/hooks/api/task/useAllTasks.tsx
Due: ui-eslint

Update changelog for release 1.3.32
  CHANGELOG.md
Due: none

fix the saving of modified_generate_name for product updates (#1714)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/service/ModifiedGeneratedNameService.java
Due: api-maven-format

Update changelog for release 1.3.33
  CHANGELOG.md
Due: none

fix: update base-device-ui-schema ECL and default options handling
  api/src/main/resources/NMPC/base-device-ui-schema.json
Due: none

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
