Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

change allowed licences (#1666)
  CHANGELOG.md
  ui/allowed-licenses.json
  ui/dependency-licenses
  ui/package.json
  ui/src/hooks/api/products/useProjectLangRefsets.tsx
  ui/src/hooks/api/task/usePostReviewMessageMutation.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/types/tickets/table.ts
Due: ui-eslint

Clear default values for brand and pack for hse (#1664)
  CHANGELOG.md
  api/src/main/resources/AMT/base-bulk-brand-ui-schema.json
  api/src/main/resources/AMT/base-bulk-pack-ui-schema.json
  api/src/main/resources/NMPC/base-bulk-brand-ui-schema.json
  api/src/main/resources/NMPC/base-bulk-pack-ui-schema.json
  ui/src/pages/products/rjsf/BrandAuthoring.tsx
  ui/src/pages/products/rjsf/PackSizeAuthoring.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/BrandDetails.tsx
  ui/src/pages/products/rjsf/helpers/helpers.ts
Due: ui-eslint

Update api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.23
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Disable multi platform push (#1668)
  CHANGELOG.md
  azure-pipelines.yml
Due: none

Update changelog for release 1.3.24
  CHANGELOG.md
Due: none

Reenabled multiplatform api image push
  CHANGELOG.md
  azure-pipelines.yml
Due: none

fix: update non-defining property title and enhance error handling in Snowstorm client
  api/src/main/java/au/gov/digitalhealth/lingo/exception/GlobalExceptionHandler.java
  api/src/main/resources/AMT/base-bulk-brand-ui-schema.json
  api/src/main/resources/AMT/base-bulk-pack-ui-schema.json
  azure-pipelines.yml
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
  ui/allowed-licenses.json
Due: api-maven-format

fix: enhance null checks for active status in concept mapping
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

formatting
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

reverted unnecessary changes
  api/src/main/java/au/gov/digitalhealth/lingo/exception/GlobalExceptionHandler.java
  azure-pipelines.yml
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: api-maven-format

fix: refactor getSingleAxiom to improve validation and error handling
  common/src/main/java/au/gov/digitalhealth/lingo/util/SnowstormDtoUtil.java
Due: none

added CHANGELOG.md message
  CHANGELOG.md
Due: none

Update changelog for release 1.3.25
  CHANGELOG.md
Due: none

feat: add script to copy multi-arch images from ACR to Quay for release builds
  azure-pipelines.yml
Due: none

changed for a test
  azure-pipelines.yml
Due: none

changed to trigger quay.io push on release tag build after test
  azure-pipelines.yml
Due: none

fix: improve concept reference detection in product updates
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
Due: api-maven-format

fix: clarify error message for batch concept updates timeout
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

reverted changes which includes descendants of concepts in determining if a concept is referenced and cannot be retired
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
Due: api-maven-format

fix: correct concept ID assignment logic for retire and replace scenarios
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

fix formatting
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
Due: api-maven-format

updated concept inactivation logic to match Snowstorm - inactivate concept and axioms, leave stated relationships active.
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

fix formatting
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

feat: simplify ECL binding for generic and specific dose form for NMPC
  CHANGELOG.md
  api/src/main/resources/NMPC/base-medication-ui-schema.json
Due: none

mistake changing unit of presentation binding fixed
  api/src/main/resources/NMPC/base-medication-ui-schema.json
Due: none

feat: allow read-only properties for branded concepts in model configuration
  api/src/main/java/au/gov/digitalhealth/lingo/service/SchemaService.java
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/ModelConfiguration.java
  ui/src/pages/products/rjsf/BrandAuthoring.tsx
Due: ui-eslint, api-maven-format

fix: improve brand feature configuration for non-defining properties
  CHANGELOG.md
Due: none

Update api/src/main/java/au/gov/digitalhealth/lingo/service/SchemaService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/SchemaService.java
Due: api-maven-format

Update CHANGELOG.md
  CHANGELOG.md
Due: none

prettier fix
  ui/src/pages/products/rjsf/BrandAuthoring.tsx
Due: ui-eslint
