Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        args: [ "protect", "--staged", "--verbose", "--redact", "--config=.gitleaks.toml" ]

  - repo: local
    hooks:
      # --- Prettier (ui) — only runs when ui/* files are staged ---
      - id: ui-prettier-check
        name: Prettier (ui, check)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Prettier check using UI config/ignore
            npx prettier -c \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        types_or: [ javascript, jsx, ts, tsx, json, css, scss, less, markdown, yaml, toml ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      # --- ESLint (ui) — cached, only when ui/*.{js,jsx,ts,tsx} are staged ---
      - id: ui-eslint
        name: ESLint (ui)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no filenames were passed
            [ "$#" -eq 0 ] && exit 0

            # Map repo-root paths like ui/src/App.tsx -> src/App.tsx after cd ui
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done

            cd ui

            # Ensure local deps are used (eslint v8 + plugins)
            npx eslint \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --max-warnings=0 \
              --ext .js,.jsx,.ts,.tsx \
              --report-unused-disable-directives \
              --no-error-on-unmatched-pattern \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        types_or: [ javascript, jsx, ts, tsx ]
        exclude: ^ui/(node_modules|dist|build|coverage|cypress)(/|$)

      - id: api-maven-format
        name: Maven (api, spotify fmt plugin)
        language: system
        entry: bash -lc
        args:
          - |
            # skip if no staged API files
            [ "$#" -eq 0 ] && exit 0
            
            # only run when in api/ subdir
            cd api
            
            # Run Spotify fmt plugin
            mvn com.spotify.fmt:fmt-maven-plugin:format
        pass_filenames: true
        files: ^api/.*\.(java)$
        types: [ java ]

      # --- Optional manual fixers (run on demand) ---
      - id: ui-prettier-fix
        name: Prettier (ui, write)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            npx prettier -w \
              --config ui/.prettierrc.json \
              --ignore-path ui/.prettierignore \
              "$@"
        pass_filenames: true
        files: ^ui/
        stages: [ manual ]

      - id: ui-eslint-fix
        name: ESLint (ui, --fix)
        language: system
        entry: bash -lc
        args:
          - |
            [ "$#" -eq 0 ] && exit 0
            args=()
            for f in "$@"; do args+=("${f#ui/}"); done
            cd ui && npx eslint --fix \
              --cache \
              --cache-location .eslintcache \
              --cache-strategy content \
              --ext .js,.jsx,.ts,.tsx \
              --ignore-path .eslintignore \
              "${args[@]}"
        pass_filenames: true
        files: ^ui/.*\.(js|jsx|ts|tsx)$
        stages: [ manual ]

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

fix for TP refset not being added, but more generally for updates to primitive for primitive concept swaps in update scenarios
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/test/java/au/gov/digitalhealth/lingo/MedicationAssertions.java
  api/src/test/java/au/gov/digitalhealth/lingo/controllers/MedicationCreationControllerTest.java
Due: api-maven-format

fix issues in the common module when they are imported in other projects (#1561)
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/Models.java
  common/src/main/java/au/gov/digitalhealth/lingo/service/fhir/FhirClient.java
Due: none

Fix product delete bugs (#1560)
  api/src/main/java/au/gov/digitalhealth/lingo/product/ProductCreateUpdateDetails.java
  api/src/main/java/au/gov/digitalhealth/lingo/product/ProductCreationDetails.java
  api/src/main/java/au/gov/digitalhealth/lingo/product/ProductUpdateDetails.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/ProductController.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
  ui/src/api/ProblemDetail.ts
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/tickets/components/TicketProducts.tsx
  ui/src/stores/AuthoringStore.ts
  ui/src/types/product.ts
Due: ui-eslint, api-maven-format

add Diverged to rebase icon
  ui/src/components/icons/RebaseIcon.tsx
Due: ui-eslint

fix for TP refset on create - previous fix only helped for update scenarios
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCreationService.java
Due: api-maven-format

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.3
  CHANGELOG.md
Due: none

update device class level from AMP to AMPP in default model config
  CHANGELOG.md
  api/src/main/resources/default-model-config.yaml
Due: none

add FeedbackStatus handling to statusToColor utility for consistent status color mapping
  ui/.eslintignore
  ui/src/types/task.ts
  ui/src/utils/statusToColor.ts
Due: ui-eslint

added sourceModelLevel to reduce cascading properties down from high levels it is cascaded up to
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
  api/src/main/resources/default-model-config.yaml
  common/src/main/java/au/gov/digitalhealth/lingo/configuration/model/BasePropertyDefinition.java
Due: api-maven-format

Fix formatting
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
Due: api-maven-format

Product audit view (#1566)
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/ProductController.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/ProductAuditService.java
  api/src/main/resources/NMPC/base-device-schema.json
  common/src/main/java/au/gov/digitalhealth/tickets/controllers/ProductAuditDto.java
  ui/src/api/TicketProductService.ts
  ui/src/pages/products/ProductAuthoring.tsx
  ui/src/pages/products/ProductAuthoringEdit.tsx
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/products/rjsf/hooks/useTicketProductQuery.ts
  ui/src/pages/tickets/components/ProductAuditModal.tsx
  ui/src/pages/tickets/components/TicketProducts.tsx
  ui/src/types/tickets/ticket.ts
  ui/src/utils/helpers/conceptUtils.ts
  ui/src/utils/helpers/ticketProductsUtils.ts
Due: ui-eslint, api-maven-format

Sort tak ticket by number (#1567)
  ui/src/pages/tasks/components/TaskTicketList.tsx
Due: ui-eslint

Unable to delete partial product bug (#1568)
  ui/src/hooks/useCanEditTask.tsx
  ui/src/pages/tickets/components/TicketProducts.tsx
Due: ui-eslint

Add AMT references to NMPC constants for clarity
  common/src/main/java/au/gov/digitalhealth/lingo/util/NmpcConstants.java
Due: none

Refactor product identifying information handling in calculation services
  api/src/main/java/au/gov/digitalhealth/lingo/service/DeviceProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
Due: api-maven-format

Update common/src/main/java/au/gov/digitalhealth/lingo/util/NmpcConstants.java
  common/src/main/java/au/gov/digitalhealth/lingo/util/NmpcConstants.java
Due: none

Update api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
Due: api-maven-format

Lots of small fixes (#1570)
  ui/src/layouts/MainLayout/Header/HeaderContent/index.tsx
  ui/src/pages/products/components/ProductPreviewSimple.tsx
  ui/src/pages/tasks/components/TaskEditCard.tsx
Due: ui-eslint

Update .eslintignore to streamline linting exclusions and improve clarity
  ui/.eslintignore
Due: none

prettier fixes
  ui/cypress.env.json
  ui/src/types/task.ts
Due: ui-eslint

Update changelog for release 1.3.4
  CHANGELOG.md
Due: none

Fixed defect by pushing selectedConceptIdentifier down subpackages.
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/BrandPackSizeService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/MedicationProductCalculationService.java
  api/src/main/java/au/gov/digitalhealth/lingo/service/NodeGeneratorService.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/PackageDetails.java
  common/src/main/java/au/gov/digitalhealth/lingo/product/details/properties/ExternalIdentifier.java
Due: api-maven-format

updated CHANGELOG.md
  CHANGELOG.md
Due: none

Update changelog for release 1.3.5
  CHANGELOG.md
Due: none

Remove `sergio-extension` module and associated files
  sergio-extension/.gitignore
  sergio-extension/pom.xml
Due: none

Remove other identifying information fields from device and medication schemas and processing for NMPC
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductCalculationService.java
  api/src/main/resources/NMPC/base-device-schema.json
  api/src/main/resources/NMPC/base-device-ui-schema.json
  api/src/main/resources/NMPC/base-medication-schema.json
  api/src/main/resources/NMPC/base-medication-ui-schema.json
Due: api-maven-format

all thumbs up are disabled when one is pending (#1572)
  ui/src/MainBody.tsx
  ui/src/pages/products/components/reviews/ConceptReviews.tsx
  ui/src/pages/products/components/reviews/PendingMutationsContext.tsx
  ui/src/pages/products/components/reviews/PendingMutationsProvider.tsx
  ui/src/pages/products/components/reviews/usePendingMutations.tsx
Due: ui-eslint

Atomic scren update diff (#1577)
  ui/src/pages/products/components/ProductPreviewBody.tsx
  ui/src/pages/products/rjsf/DeviceAuthoring.tsx
  ui/src/pages/products/rjsf/MedicationAuthoring.tsx
  ui/src/pages/products/rjsf/components/AdditionalFieldsEditor.tsx
  ui/src/pages/products/rjsf/components/ChangeIndicator.tsx
  ui/src/pages/products/rjsf/components/LeftRightAlign.tsx
  ui/src/pages/products/rjsf/fields/AutoCompleteField.tsx
  ui/src/pages/products/rjsf/fields/bulkBrandPack/ExternalIdentifiers.tsx
  ui/src/pages/products/rjsf/helpers/comparator.ts
  ui/src/pages/products/rjsf/helpers/helpers.ts
  ui/src/pages/products/rjsf/helpers/rjsfUtils.ts
  ui/src/pages/products/rjsf/templates/AccordionArrayFieldTemplate.tsx
  ui/src/pages/products/rjsf/widgets/CustomSelectWidget.tsx
  ui/src/pages/products/rjsf/widgets/CustomTextFieldWidget.tsx
  ui/src/pages/tickets/components/ProductAuditModal.tsx
  ui/src/pages/tickets/components/TicketProducts.tsx
  ui/src/stores/AuthoringStore.ts
Due: ui-eslint
