Repository AuDigitalHealth/lingo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-eslint, api-maven-format

ui-eslint:
  name: ESLint (ui)
  language: system
  entry: bash -lc
  args:
  ...

api-maven-format:
  name: Maven (api, spotify fmt plugin)
  language: system
  entry: bash -lc
  args:
  - '# skip if no staged API files
  
    [ "$#" -eq 0 ] && exit 0
  
  
    # only run when in api/ subdir
  
    cd api
  
  
    # Run Spotify fmt plugin
  
    mvn com.spotify.fmt:fmt-maven-plugin:format
  
    '
  pass_filenames: true

fix: increase max result limit from 1000 to 10000 in ProductUpdateService - necessary for devices with lots of primitives
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
Due: api-maven-format

fix: initialize `selectedActionType` only once in `TaskTicket` to prevent redundant resets
  ui/src/pages/tasks/components/TaskTicket.tsx
Due: ui-eslint

fix: replace `devicePreviewDetails` references with `productPreviewDetails` across components
  ui/src/pages/products/ProductModelEdit.tsx
  ui/src/pages/products/components/ProductPreviewPanel.tsx
  ui/src/stores/AuthoringStore.ts
Due: ui-eslint

Fix device issues
  ui/src/pages/products/components/ProductPreviewBody.tsx
  ui/src/stores/AuthoringStore.ts
Due: ui-eslint

fix: update CHANGELOG with recent fixes for ECL handling and workflow improvements
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update ui/src/pages/tasks/components/TaskTicket.tsx
  ui/src/pages/tasks/components/TaskTicket.tsx
Due: ui-eslint

chore: clean up CHANGELOG by removing outdated unreleased fixes
  CHANGELOG.md
Due: none

fix so projectFromUrlTaskPath doesn't end up undefined temporarily
  ui/src/hooks/useProjectFromUrlPath.tsx
Due: ui-eslint

Update ui/src/stores/AuthoringStore.ts
  ui/src/stores/AuthoringStore.ts
Due: ui-eslint

CHANGELOG.md
  CHANGELOG.md
Due: none

Update versions for release
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Update changelog for release 1.3.34
  CHANGELOG.md
Due: none

Update for next development version
  api/pom.xml
  auth/pom.xml
  common/pom.xml
  eclrefset/pom.xml
  pom.xml
  ui/pom.xml
Due: none

Add [Unreleased] section
  CHANGELOG.md
Due: none

Fix accordion collapsing when clicking icon buttons in ProductPreviewPanel (#1726)
  CHANGELOG.md
  ui/src/pages/products/components/ProductPreviewPanel.tsx
Due: ui-eslint

feat: upgrade product update process to determine primitive concepts automatically
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/ProductUpdateService.java
Due: api-maven-format

Issue with attachments, not converting to url after product create or… (#1732)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/BlobStorageService.java
Due: api-maven-format

Update changelog for release 1.3.35
  CHANGELOG.md
Due: none

fix comment sorting (#1733)
  CHANGELOG.md
  ui/src/hooks/api/tickets/useTicketById.tsx
Due: ui-eslint

Bugfix/comment sort (#1734)
  CHANGELOG.md
  ui/src/components/icons/RebaseIcon.tsx
Due: ui-eslint

Fix issue where term edits fail when the only change is case (upperca… (#1730)
  CHANGELOG.md
  common/src/main/java/au/gov/digitalhealth/lingo/service/SnowstormClient.java
Due: none

Fix issue where the S3 bucket URL is not being updated for the attach… (#1739)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/lingo/service/BlobStorageService.java
Due: api-maven-format

CHANGELOG.md (#1737)
  CHANGELOG.md
  ui/src/components/editProduct/ProductEditModal.tsx
Due: ui-eslint

When a product is viewed in it's n box model form, the subject concep… (#1736)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/ProductController.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
  common/src/main/java/au/gov/digitalhealth/tickets/controllers/TicketAuthoringHistoryDto.java
  ui/src/api/TicketProductService.ts
  ui/src/hooks/api/products/useTicketAuthoringHistory.tsx
  ui/src/pages/products/ProductModelEdit.tsx
  ui/src/pages/products/components/ExistingConceptDropdown.tsx
  ui/src/pages/products/components/ProductPreviewPanel.tsx
  ui/src/pages/products/components/TicketAuthoringHistoryDisplay.tsx
  ui/src/types/tickets/ticket.ts
Due: ui-eslint, api-maven-format

Update changelog for release 1.3.36
  CHANGELOG.md
Due: none

Update My task display logic to fall back to matching by username when email is not found. (#1741)
  CHANGELOG.md
  ui/src/pages/tasks/components/TasksDisplay.tsx
Due: ui-eslint

now correctly works for bulk product/packsize and for description upd… (#1742)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/repository/BulkProductActionRepository.java
  api/src/main/java/au/gov/digitalhealth/tickets/service/TicketServiceImpl.java
Due: api-maven-format

allow the editing of ticket titles and ticket descriptions (#1744)
  ui/src/api/TasksService.ts
  ui/src/hooks/api/task/useEditTaskMutation.tsx
  ui/src/pages/tasks/components/TaskDetails.tsx
  ui/src/pages/tasks/components/TaskEditModal.tsx
Due: ui-eslint

Delete .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

Delete .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: none

Mc/synonyms (#1683)
  CHANGELOG.md
  api/src/main/java/au/gov/digitalhealth/tickets/controllers/SynonymController.java
  api/src/main/java/au/gov/digitalhealth/tickets/models/SynonymConfiguration.java
  api/src/main/java/au/gov/digitalhealth/tickets/repository/SynonymConfigurationRepository.java
  api/src/main/resources/db/migration/postgresql/V1_34__DescriptionConfiguration.sql
  ui/src/api/TicketsService.ts
  ui/src/components/editProduct/ProductEditModal.tsx
  ui/src/hooks/api/tickets/useUpdateSynonymConfiguration.tsx
  ui/src/layouts/MainLayout/Header/HeaderContent/Profile/SystemSettingTab.tsx
  ui/src/pages/products/components/NewConceptDropdown.tsx
  ui/src/pages/settings/SynonymConfigurationSettings.tsx
  ui/src/pages/settings/components/synonyms/SynonymConfigurationForm.tsx
  ui/src/pages/settings/components/synonyms/SynonymConfigurationModal.tsx
  ui/src/router/index.tsx
  ui/src/types/queryKeys.ts
  ui/src/types/tickets/ticket.ts
Due: ui-eslint, api-maven-format

Bugfix/snodine tnf refset list (#1752)
  CHANGELOG.md
  ui/src/pages/eclRefset/components/TickFlickMembersList.tsx
Due: ui-eslint

update ECL editor (#1750)
  CHANGELOG.md
  ui/dependency-licenses
  ui/package.json
  ui/src/pages/eclRefset/components/ECLExpressionEditor.tsx
Due: ui-eslint

Path conditions:
  ui-eslint: any of: ^ui/.*\.(js|jsx|ts|tsx)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^ui/(node_modules|dist|build|coverage|cypress)(/|$))
  api-maven-format: any of: ^api/.*\.(java)$ and \.java$
